@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ag-loader-btn {
  transition: all 0.5s;
  background-image:none;
}
.ag-loader-btn.load {
  &.btn-style{
    min-width: 40px;
  }
  padding: 0!important;
  width: 52px!important;
  height: 52px;
  border-radius: 50%;
  margin-top: 0;
  position: relative;
  background: none;
  border: 5px solid #f5f5f5;
  font-size: 0;
  &:hover{
    background-image: none!important;
    .box-shadow(none);
  }
  .circle {
    display: none;
  }
  @media screen and (max-width: @medium-laptop) {
    height: 40px;
    width: 40px !important;
    font-size: 15px;
  }
}
.ag-loader-btn.load:before {
  position: absolute;
  left: 0;
  top: 3px;
  width: 5px;
  height: 5px;
  background: @active-lang-color;
  content: '';
  border-radius: 100%;

}
.ag-loader-btn.loading {
  animation: circle 1s linear infinite;


}
.ag-loader-btn.complete {
  background-image: none;
  min-width: 100px;
  background: @active-lang-color;
  font-size: 20px;
  text-align: center;
  height: 52px;
  color: white;
  &:hover {
    background-image: none;
  }
  @media screen and (max-width: @medium-laptop) {
    height: 40px;
    font-size: 15px;
  }
}
.ag-loader-btn.error {
  text-align: center;
  min-width: 100px;
  color:white;
  background: #ff8a8a;
  border: none;
  font-size: 20px;
  height: 52px;
  padding: 0;
  line-height: 52px;
  &:hover{
    background: #ff8a8a;
  }
  @media screen and (max-width: @medium-laptop) {
    height: 40px;
    line-height: 28px;
    font-size: 15px;
  }
}
