.page.internal.dark-sea-japan(ng-class="{'rtl': isRTL}")
  .header-container.circles-bg
    header-component
  main
   a.arrow-back(ui-sref="app.web-app-templates")
   .title {{ 'DARK-SEA-JAPAN-PAGE-TITLE' | translate }}
   .block-img.desktop.main-screen.center
     img(src="../assets/images/pages/dark-sea-japan/screen.png")
   .block-img.devices
     img(src="../assets/images/icons/devices.png")
   .screens
     .block-img
       img(src="../assets/images/pages/dark-sea-japan/splash1.png")
     .block-img
       img(src="../assets/images/pages/dark-sea-japan/splash2.png")
     .block-img
       img(src="../assets/images/pages/dark-sea-japan/splash3.png")
    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}
  footer-component
