.page.internal.explore.small-offset(ng-class="{'rtl': isRTL}")
  .header-container.circles-bg.blue
    header-component
  main
   .title {{ 'EXPLORE-PAGE-TITLE' | translate }}
   .title-bordered.pink {{ 'EXPLORE-PAGE-SECTION1-TITLE' | translate }}
   .description {{ 'EXPLORE-PAGE-SECTION1-DESCRIPTION' | translate }}
   .features-parts
     .item
       span.item-img.mobile-web
         img(src="../assets/images/pages/explore/mobile-web.png")
       span.item-description
         span.title {{ 'EXPLORE-PAGE-SECTION1-SUBSECTION1-TITLE' | translate}}
         span.description {{ 'EXPLORE-PAGE-SECTION1-SUBSECTION1-DESCRIPTION' | translate}}

     .item
       span.item-img.design
          img(src="../assets/images/pages/explore/valik.png")
       span.item-description
         span.title {{ 'EXPLORE-PAGE-SECTION1-SUBSECTION2-TITLE' | translate}}
         span.description {{ 'EXPLORE-PAGE-SECTION1-SUBSECTION2-DESCRIPTION' | translate}}

     .item
       span.item-img.admin-panel
          img(src="../assets/images/pages/explore/admin-panel.png")
       span.item-description
         span.title {{ 'EXPLORE-PAGE-SECTION1-SUBSECTION3-TITLE' | translate}}
         span.description {{ 'EXPLORE-PAGE-SECTION1-SUBSECTION3-DESCRIPTION' | translate}}

     span.item
       .item-img.tracker
          img(src="../assets/images/pages/explore/bitmap.png")
       span.item-description
         span.title {{ 'EXPLORE-PAGE-SECTION1-SUBSECTION4-TITLE' | translate}}
         span.description {{ 'EXPLORE-PAGE-SECTION1-SUBSECTION4-DESCRIPTION' | translate}}

    .giki-section
        .title-bordered.blue GIKI
        .description {{ 'EXPLORE-PAGE-SECTION2-SUBTITLE' | translate }}
        .giki-list
           .item
             .item-img
                img(src="../assets/images/pages/explore/notifications.png")
             .title  {{ 'EXPLORE-PAGE-SECTION2-SUBSECTION1-TITLE' | translate }}
           .item
             .item-img
                img(src="../assets/images/pages/explore/feed.png")
             .title  {{ 'EXPLORE-PAGE-SECTION2-SUBSECTION2-TITLE' | translate }}
           .item
             .item-img
                img(src="../assets/images/pages/explore/about-us.png")
             .title  {{ 'EXPLORE-PAGE-SECTION2-SUBSECTION3-TITLE' | translate }}
           .item
             .item-img
                img(src="../assets/images/pages/explore/download.png")
             .title  {{ 'EXPLORE-PAGE-SECTION2-SUBSECTION4-TITLE' | translate }}

           .item
             .item-img
                img(src="../assets/images/pages/explore/group-12.png")
             .title  {{ 'EXPLORE-PAGE-SECTION2-SUBSECTION5-TITLE' | translate }}
           .item
             .item-img
                img(src="../assets/images/pages/explore/admin.png")
             .title  {{ 'EXPLORE-PAGE-SECTION2-SUBSECTION6-TITLE' | translate }}
           .item
             .item-img
                img(src="../assets/images/pages/explore/layer-1.png")
             .title  {{ 'EXPLORE-PAGE-SECTION2-SUBSECTION7-TITLE' | translate }}
           .item
             .item-img.large
                img(src="../assets/images/pages/explore/group-6.png")
             .title  {{ 'EXPLORE-PAGE-SECTION2-SUBSECTION8-TITLE' | translate }}
           .item
             .item-img.large
                img(src="../assets/images/pages/explore/page-1.png")
             .title  {{ 'EXPLORE-PAGE-SECTION2-SUBSECTION9-TITLE' | translate }}
    .plans-features-wrap
        .block
          .plans-features
             .cornered-title.blue VIP
                .corner.left
                .corner.right
             .features-list
                .item
                    .title-bordered.pink {{ 'ONLINE-SHOP' | translate}}
                    .subtitle {{ 'EXPLORE-PREMIUM-DESCRIPTION1-FULL' | translate}}
                    .item-img(video-preview)
                       img.holder(src="../assets/images/pages/explore/group-9-copy.png")
                       img.video(src="../assets/images/pages/explore/features-410x200.gif")
                    .click-me-label
                      span  {{ 'CLICK-ME' | translate }}
                      img.video(src="../assets/images/pages/explore/arrow.png")
                .plus.blue +
                .item.giki
                    .title-bordered.blue GIKI
                    .subtitle {{ 'EXPLORE-PREMIUM-DESCRIPTION3' | translate}}
        .block
          .plans-features
             .cornered-title.yellow GOLD
                .corner.left
                .corner.right
             .features-list
                .item
                    .title-bordered.orange {{ 'EXPLORE-ONLINE BOOKING SYSTEM' | translate}}
                    .subtitle {{ 'EXPLORE-PREMIUM-DESCRIPTION2-FULL' | translate}}
                    .item-img(video-preview)
                       img.holder(src="../assets/images/pages/explore/bitmap-copy.png")
                       img.video(src="../assets/images/pages/explore/booking-410x200.gif")
                    .click-me-label
                       span  {{ 'CLICK-ME' | translate }}
                       img.video(src="../assets/images/pages/explore/arrow.png")
                .plus.yellow +
                .item.giki
                    .title-bordered.blue GIKI
                    .subtitle {{ 'EXPLORE-PREMIUM-DESCRIPTION3' | translate}}
    .plans-features
       .cornered-title.green PREMIUM
          .corner.left
          .corner.right
       .features-list
          .item.premium
              .title-bordered.pink {{ 'ONLINE-SHOP' | translate}}
              .subtitle {{ 'EXPLORE-PREMIUM-DESCRIPTION1' | translate}}
          .plus +
          .item.premium
              .title-bordered.orange {{ 'EXPLORE-ONLINE BOOKING SYSTEM' | translate}}
              .subtitle {{ 'EXPLORE-PREMIUM-DESCRIPTION2' | translate}}
          .plus +
          .item.premium
              .title-bordered.blue GIKI
              .subtitle {{ 'EXPLORE-PREMIUM-DESCRIPTION3' | translate}}
    .start-section
      .title {{ 'CHOOSE PAYMENT TEXT' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}
  footer-component
