
.page {
  &.explore {
    position: relative;
    .description {
      font-family: Roboto-Light;
      font-size: 20px;
      font-weight: 300;
      line-height: 29px;
      text-align: center;
      color: @start-section-text-color;
      margin: 75px 0 55px;
    }
    .features-parts {
      display: flex;
      flex-wrap: wrap;
      max-width: 650px;
      margin: 0 auto;
      .item {
        width: 50%;
        display: flex;
        margin-bottom: 50px;
        .item-img {
          width: 30%;
          display: inline-block;
          padding: 0 10px;
          &.design {
            img {
              max-width: 55px;
            }
          }
          &.admin-panel {
            max-width: 75px;
          }
          &.mobile-web {
            max-width: 75px;
          }
        }
        .item-description {
          font-family: Roboto-Light;
          width: 70%;
          display: inline-block;
          text-align: left;
          padding: 0 20px 0 20px;
          .title {
            font-size: 16px;
            color: @pink-bordered-title;
            display: block;
            font-weight: 600;
            margin-bottom: 0;
            text-align: left;
          }
          .description {
            font-size: 16px;
            line-height: 22px;

          }
        }
      }
      @media screen and (max-width: @mobile-large) {
        .item {
          width: 100%;
          margin-bottom: 15px;
          .item-img {
            max-width: 75px;
            &.design {
              max-width: 75px;
            }
          }
          .item-description {
            padding-right: 0;
          }
        }
      }
    }

    .giki-section {
      .title-bordered {
        margin-top: 55px;
      }
      .giki-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        text-align: center;
        .item {
          font-family: Roboto-Light;
          width: 25%;
          padding: 10px 20px 10px 20px;
          .item-img {
            max-width: 55px;
            margin: 0 auto 25px;
            img {
              max-width: 100%;
            }
            &.large {
              max-width: 65px;
            }
          }
          .title {
            font-size: 16px;
            font-weight: 600;
            color: @start-section-text-color;
          }
        }
        @media screen and (max-width: @tablet) {
          .item {
            width: 50%;
            padding: 10px;
          }
        }
      }
      @media screen and (max-width: @tablet) {
      .title-bordered {
        font-size: 34px;
      }
    }
  }
    .plans-features-wrap {
      display: flex;
      .block {
        width: 50%;
      }
      .plans-features {
        margin: 60px 0;
        .features-list {
          display: block;
          text-align: center;
          .item {
            width: 82%;
            padding-bottom: 30px;
            margin: 0 auto;
            .subtitle {
              max-width: 300px;
              margin: 45px auto 15px;
              min-height: 145px;
            }
            .item-img {
              max-width: 192px;
              margin: 0 auto;
              cursor: pointer;
              img {
                max-width: 100%;
                &.video {
                  display: none;
                }
              }
              &.play {
                img {
                  &.holder {
                    display: none;
                  }
                  &.video {
                    display: block;
                  }
                }
              }
            }
            .click-me-label{
              color: @lang-text-color;
              font-size: 16px;
              margin: 10px auto 10px ;
              text-align: left;
              max-width: 192px;
              padding: 0 5px;
              display: flex;
              align-items: baseline;
              img{
                max-width: 38px;
                margin-left: 7px;
              }
            }
            &.giki {
              .subtitle {
                min-height: auto;
              }
              .title-bordered {
                font-size: 30px;
              }
            }
          }
        }
      }
      @media screen and (max-width: @tablet) {
        flex-wrap: wrap;
        .plans-features {
          .features-list {
            .item {
              width: 100%;
            }
          }
         }
        .plans-features {
          margin: 20px 0;
        }
        .block {
          width: 100%;
        }
      }
    }
    .plans-features {
      padding: 0 10px;
      .features-list {
        font-family: Roboto-Light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        .plus {
          color: @green-plus;
          font-size: 50px;
          padding: 0 7px;
          &.blue {
            color: @blue-plus;
          }
          &.yellow {
            color: @yellow-plus;
          }
        }
        .item {
          border: 1px solid @features-item-border-color;
          width: 30%;
          &.premium {
            min-height: 230px;
          }
          .title-bordered {
            font-size: 20px;
            line-height: 29px;
            margin-top: 50px;
            text-transform: uppercase;
          }
          .subtitle {
            margin: 50px 0 30px;
            font-size: 16px;
            padding:  10px;
            color: @features-item-description-text;
            text-align: center;
          }
        }
      }
      @media screen and (max-width: @tablet) {
        .features-list {
          margin-top: 10px;
          display: block;
          text-align: center;
          .item {
            width: 100%;
          }
        }
      }
    }
  }
}
.page {
  &.explore {
    &.rtl {
      font-family: 'Heebo', sans-serif;
      position: relative;
      .description {
        font-family: 'Heebo', sans-serif;
      }
      .features-parts {
        .item {
          .item-description {
          .title {
            text-align: initial;
          }
            font-family: 'Heebo', sans-serif;
            direction: rtl;
            text-align: initial;
          }
        }
      }
      .giki-section {
        .giki-list {
          .item {
            font-family: 'Heebo', sans-serif;
          }
        }
      }
      .plans-features {
        .features-list {
          font-family: 'Heebo', sans-serif;
        }
      }
    }
  }
}
