.page {
  &.web-app-templates-new {
    position: relative;
    .content-block {
      margin-top: 90px;
      display: flex;
      .block-text {
        width: 50%;
        .title-bordered {
          margin-top: 0;
          max-width: 500px;
          text-align: left;
          &:before {
            left: 0;
            margin-left: 0;
            content: '';
          }
        }
        .devices {
          margin-top: 65px;
          span {
            max-width: 90px;
            display: inline-block;
            img {
              max-width: 100%;
            }
            &.os {
              max-width: 60px;
              border-right: 1px solid #ccc;
              padding: 0 15px 0 0;
              margin-right: 15px;
            }
          }
        }
        .description {
          font-size: 18px;
          color: @start-section-text-color;
          margin: 61px 0 23px;
          max-width: 320px;
          line-height: 28px;
        }
        &.large {
          width: 65%;
          padding-left: 50px;
          .description {
            margin: 32px 0 23px;
            max-width: 100%;
          }
        }
      }
      .block-img {
        width: 50%;
        padding: 0 15px;
        &.small {
          width: 35%;
        }
      }
    }
    @media screen and (max-width: @tablet) {
      .content-block {
        flex-wrap: wrap;
        margin-top: 40px;
        .block-text {
          margin-bottom: 20px;
          width: 100%;
          &.large {
            width: 100%;
            padding-left: 0;
          }
        }
        .block-img {
          width: 100%;
          padding: 0;
          &.small {
            width: 100%;
          }
        }
      }
    }

    &.rtl {
    position: relative;
    .content-block {
      .block-text {
        .devices {
          span {
            &.os {
              border-left: 1px solid #ccc;
              border-right: none;
              padding: 0 0 0 15px;
              margin-right: 0;
              margin-left: 15px;
            }
          }
        }
      }
     }
    }
  }
}
