.page.internal.web-app-templates-new.small-offset(ng-class="{'rtl': isRTL}")
  .header-container.circles-bg.cyan
    header-component
  main
   .title {{ 'WEB-APP-TEMPLATES-PAGE-TITLE' | translate }}
   .content-block
     .block-text
       .title-bordered {{ 'CHOOSE-FROM-OUR-RANGE' | translate }}
       .description {{ 'TEMPLATES-PAGE-DESCRIPTION-ONE' | translate }}
       a.large-btn.no-bg(ui-sref="app.web-app-templates") {{ 'VIEW-TEMPLATES' | translate}}
     .block-img
       img(src="../assets/images/pages/web-app-templates-new/1_templ_img.png")

   .content-block
     .block-img.small
       img(src="../assets/images/pages/web-app-templates-new/2_templ_img.png")
     .block-text.large
       .title-bordered {{ 'OUR-WEB-TEMPLATES' | translate }}
       .devices
         span.os
           img(src="../assets/images/icons/os.png")
         span
           img(src="../assets/images/icons/devices.png")
       .description
         div {{ 'TEMPLATES-PAGE-DESCRIPTION-TWO-SENTENSE1' | translate }}
         div {{ 'TEMPLATES-PAGE-DESCRIPTION-TWO-SENTENSE2' | translate }}
         div {{ 'TEMPLATES-PAGE-DESCRIPTION-TWO-SENTENSE3' | translate }}
         div {{ 'TEMPLATES-PAGE-DESCRIPTION-TWO-SENTENSE4' | translate }}
         br
         div {{ 'TEMPLATES-PAGE-DESCRIPTION-THREE-SENTENSE1' | translate }}
         div {{ 'TEMPLATES-PAGE-DESCRIPTION-THREE-SENTENSE2' | translate }}

    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}
  footer-component
