.page {
  &.support {
    position: relative;
    .angular-google-map-container {
      height: 280px;
    }
    .content-block {
      width: 1010px;
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      .block {
        width: 50%;
        .title-bordered {
          margin-top: 0;
          max-width: 500px;
          text-align: left;
          &:before {
            left: 0;
            margin-left: 0;
            content: '';
          }
        }
        .description {
          font-size: 20px;
          line-height: 1.85;
          color: @input-text-color;
          font-weight: 600;
          margin-top: 55px;
          font-family: Roboto-Light;
          a{
            color: @input-text-color;
            text-decoration: none;
          }
          .flag {
            width: 24px;
            height: 24px;
            display: inline-block;
            margin: 10px 20px 10px 0;
          }
        }
        .youtube {
          width: 64px;
          height: 42px;
          margin: 20px 0 10px 0;
          display: inline-block
        }
        .location {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 10px;
          color: @input-text-color;
          font-family: Roboto-Light;
          font-weight: 600;
        }
        &.large {
          width: 100%;
          .title-bordered {
            &:before {
              width: 170px;
            }
            &.long {
              &:before {
                width: 260px;
              }
            }
          }

        }

        &.address {
          padding: 0 10px;
        }
      }
    }

    @media screen and (max-width: @laptop) {
      .content-block {
        width: 100%;
      }
    }
    @media screen and (max-width: @tablet) {
      .content-block {
        flex-wrap: wrap;
        margin-top: 40px;
        .block {
          margin-bottom: 20px;
          width: 100%;
        }
      }
    }

    &.rtl {
    .content-block {
      .block {
        .description {
          font-family: 'Heebo', sans-serif;
          .flag {
            width: 24px;
            height: 24px;
            display: inline-block;
            margin: 10px 0 10px 20px;
          }
        }
      }
     }
    }
  }
}
