.page.internal.support.small-offset(ng-class="{'rtl': isRTL}")
  .header-container.circles-bg.blue
    header-component
  main
   .title {{ 'SUPPORT-PAGE-TITLE' | translate }}
   .content-block
     .block
       .title-bordered {{ 'CONTACT-US' | translate }}
       .description
         div
           span.flag
             img(src="../assets/images/pages/support/gb.png")
           a(href="tel:020-8068-5190") 020-8068-5190
         div
           span.flag
             img(src="../assets/images/pages/support/isr.png")
           a(href="tel:02-544-5555") 02-544-5555
         div
           span.flag
             img(src="../assets/images/pages/support/usa.png")
           a(href="tel:646-7129-742") 646-7129-742

     .block
       .title-bordered YouTube
       .description {{ 'FOLLOW-PHRASE' | translate }}
       a.youtube(href="https://www.youtube.com/channel/UC8Now35BfdnruU_8mxfdnsA" target="_blank")
         img(src="../assets/images/icons/youtube.png")
   .content-block
     .block.large
        .title-bordered.long {{ 'ONLINE-SUPPORT' | translate }}
        chat-box(ng-if='true')
   .content-block
     .block.large
        .title-bordered {{ 'OUR-OFFICES' | translate }}
   .content-block
     .block.address
       .location Hebron road 101, Jerusalem, Israel
       .map
          ui-gmap-google-map(center='support.mapIsrael.center' zoom='support.mapIsrael.zoom' options="support.mapOptions" )
            ui-gmap-marker(coords="support.markerIsrael.coords" options="support.markerIsrael.options"  idkey="support.markerIsrael.id")
     .block.address
       .location Grand str. 154, New York, USA
       .map
         ui-gmap-google-map(center='support.mapUSA.center' zoom='support.mapUSA.zoom' options="support.mapOptions")
           ui-gmap-marker(coords="support.markerUsa.coords" options="support.markerUsa.options"  idkey="support.markerUsa.id")

    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}
  footer-component
