footer
  .footer-wrap
    .supports
      span {{ 'SUPPORTS' | translate }}:
      img.supports-img(src="../assets/images/icons/supports.png")
    nav.footer-nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
      ul.footer-nav-left
        li.footer-nav-item: a.footer-nav-link(ui-sref="app.pricing" itemprop="url")
          span {{ 'PRICING' | translate }}
        li.footer-nav-item: a.footer-nav-link(ui-sref="app.explore" itemprop="url")
          span {{ 'EXPLORE' | translate }}
        li.footer-nav-item: a.footer-nav-link(ui-sref="app.partners" itemprop="url")
          span {{ 'PARTNERS' | translate }}
        li.footer-nav-item: a.footer-nav-link(ui-sref="app.discover" itemprop="url")
          span {{ 'DISCOVER-PAGE-TITLE' | translate }}
      ul.footer-nav-left
        li.footer-nav-item: a.footer-nav-link(ui-sref="app.support" itemprop="url")
          span {{ 'SUPPORT' | translate }}
        li.footer-nav-item: a.footer-nav-link(ui-sref="app.web-app-templates-new" itemprop="url")
          span {{ 'TEMPLATES' | translate }}
        li.footer-nav-item: a.footer-nav-link.geekapps-link(ui-sref="app.landing" itemprop="url")
          span geekApps.com
      ul.footer-nav-right.footer-features
        li: img.features-img.guard(src="../assets/images/icons/secure-payment@2x.png")
        li.gurantee: img.features-img(src="../assets/images/icons/14-days@2x.png")
        li: img.features-img(src="../assets/images/icons/visa-pay-logo-1@2x.png")
        li: img.features-img(src="../assets/images/icons/mastercard-1@2x.png")
    ul.footer-features-color
      li: img.features-img.guard(src="../assets/images/icons/footer/secure.png")
      li.gurantee: img.features-img(src="../assets/images/icons/footer/gurantee.png")
      li: img.features-img(src="../assets/images/icons/footer/mastercard.png")
      li: img.features-img(src="../assets/images/icons/footer/visa.png")
