
footer {
  padding: 65px 25px 0;
  /*background: @footer-bg;*/
  .supports {
    margin: 40px 0;
    font-weight: 700;
    text-align: center;
    font-family: Roboto-Light;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .supports-img {
    margin-left: 30px;
    vertical-align: middle;
  }

  .footer-nav {
    padding: 60px 0 35px;
    border-top: @footer-nav-border;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-nav-left {
    margin-right: 15px;
    text-align: right;
  }

  .footer-nav-right {
    margin-left: 15px;
  }

  .footer-features {
    align-items: center;
    li {
      max-width: 40px;
      margin: 0 7px;
      &.gurantee {
        max-width: 65px;
      }
      .features-img {
        margin: 0;
        max-width: 100%;
        &.guard{
          max-width: 25px;
        }
      }
    }
  }

  .footer-nav-item {
    margin-bottom: 30px;
    z-index: 2;
  }

  .footer-nav-link {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }

  .geekapps-link {
    font-weight: 700;
  }
}

@media screen and (min-width: @tablet) {
  footer {
    .supports {
      margin-bottom: 25px;
    }

    .footer-nav {
      padding: 30px 0;
    }

    .footer-nav-right,
    .footer-nav-left {
      margin: 0;
      display: flex;
    }

    .footer-nav-item {
      margin: 0 19px;
      font-size: 12px;
    }
  }
}

@media screen and (min-width: @tablet) {
  footer {
    padding-top: 0;
  }
}
@media screen and (max-width: @medium-laptop) {
  footer{
    .supports {
      margin: 10px 0 10px 0;
    }
    .footer-wrap {
      .footer-nav {
        padding: 10px;
      }
    }
  }
}

@media screen and (max-width: @tablet) {
  footer {
    .footer-nav {
      align-items: flex-start;
    }
    .footer-nav-left {
      min-width: 120px;
      text-align: center;
      margin-right: 0px;
    }
  }
}

@media screen and (min-width: @laptop) {

  footer {
    .footer-wrap {
      max-width: @page-width;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: @laptop) {

  footer {
    .footer-wrap {
      .footer-nav {
        flex-wrap: wrap;
        .footer-features {
          display: flex;
        }
      }
    }
  }
}

@media screen and (orientation: landscape) and (min-width: @tablet) and (max-width: @laptop) {
  footer {
    .supports {
      display: none;
    }
  }
}

.rtl {
  footer {
    font-family: 'Heebo', sans-serif;
    .supports {
      font-family: 'Heebo', sans-serif;
    }
  }
}
