.page.internal.web-app-templates.small-offset(ng-class="{'rtl': isRTL}")
  .header-container.circles-bg.blue
    header-component
  main
   a.arrow-back(ui-sref="app.web-app-templates-new")
   .title {{ 'WEB-APP-TEMPLATES-PAGE-TITLE' | translate }}
   ul.tab-links
      li.title(ng-class="{'active': webapp.active}" ng-click="webapp.active = !webapp.active") {{ 'WEB-TEMPLATES' | translate }}
      li.title(ng-class="{'active': !webapp.active}" ng-click="webapp.active = !webapp.active") {{ 'MOBILE-APPS' | translate }}
   .tab-wrapper
     .screens.tab-item#web(ng-class="{'active': webapp.active}")
       a.block-img(ui-sref="app.abstract")
         span
            img(src="../assets/images/pages/web-app-templates/abstract.png")
         .title-proj Abstract
         .view-btn {{ 'VIEW' | translate }}
       a.block-img(ui-sref="app.concrete")
         span
            img(src="../assets/images/pages/web-app-templates/concrete.png")
         .title-proj Concrete
         .view-btn {{ 'VIEW' | translate }}
       a.block-img(ui-sref="app.dark-sea-japan")
         span
            img(src="../assets/images/pages/web-app-templates/dark-japan.png")
         .title-proj Dark Sea Japan
         .view-btn {{ 'VIEW' | translate }}
       a.block-img(ui-sref="app.leaves-light-green")
         span
            img(src="../assets/images/pages/web-app-templates/llg.png")
         .title-proj Leaves Light Green
         .view-btn {{ 'VIEW' | translate }}


       a.block-img(ui-sref="app.look")
         span
            img(src="../assets/images/pages/web-app-templates/look.png")
         .title-proj Modern Look
         .view-btn {{ 'VIEW' | translate }}

       a.block-img(ui-sref="app.rounded-orange")
         span
            img(src="../assets/images/pages/web-app-templates/rounded-orange.png")
         .title-proj Rounded Orange
         .view-btn {{ 'VIEW' | translate }}
       a.block-img(ui-sref="app.sales")
         span
            img(src="../assets/images/pages/web-app-templates/sales.png")
         .title-proj Sales Red
         .view-btn {{ 'VIEW' | translate }}
       a.block-img(ui-sref="app.sea-green")
         span
            img(src="../assets/images/pages/web-app-templates/sea-green.png")
         .title-proj Sea Green
         .view-btn {{ 'VIEW' | translate }}
        .block-img.more
          img(src="../assets/images/pages/web-app-templates/more.png")
          .title {{ 'MORE-TEMPLATES' | translate }}

     .screens.tab-item#mobile(ng-class="{'active': !webapp.active}")
       a.block-img(ui-sref="app.modern")
         span
            img(src="../assets/images/pages/web-app-templates/modern.png")
         .title-proj Modern
         .view-btn {{ 'VIEW' | translate }}
       a.block-img(ui-sref="app.food")
         span
            img(src="../assets/images/pages/web-app-templates/food.png")
         .title-proj Food & Beverage
         .view-btn {{ 'VIEW' | translate }}
       a.block-img(ui-sref="app.clean-cut")
         span
            img(src="../assets/images/pages/web-app-templates/clean-cut.png")
         .title-proj Clean Cut
         .view-btn {{ 'VIEW' | translate }}
       a.block-img(ui-sref="app.garde")
         span
            img(src="../assets/images/pages/web-app-templates/garde.png")
         .title-proj Garde
         .view-btn {{ 'VIEW' | translate }}
    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}
  footer-component
