.page {
  &.web-app-templates {
    position: relative;

    .arrow-back {
      top: 127px;
      @media screen and (max-width: @tablet) {
        top: 113px;
      }
    }
    ul {
      &.tab-links {
        max-width: 550px;
        margin: 95px auto 77px;
        display: flex;
        li {
          color: @start-section-text-color;
          display: inline-block;
          margin: 20px 30px;
          font-size: 22px;
          cursor: pointer;
          text-align: center;
          position: relative;
          &:before {
            position: absolute;
            width: 70px;
            height: 2px;
            left: -50%;
            bottom: -30px;
            margin-left: -35px;
            content: '';
            transition: all .5s;
          }
          &.active, &:hover {
            &:before {
              background: @input-active-color;
              left: 50%;
            }
          }
        }
      }
      @media screen and (max-width: @tablet) {
        &.tab-links {
          justify-content: space-around;
          li {
            margin: 25px 6px;
            font-size: 18px;
          }
        }
      }
    }
    .screens {
      &.tab-item {
        display: none;
        .block-img {
            text-decoration: none;
            padding: 0 35px;
            transition: all .5s;
            overflow: hidden;


            span {
              .border-radius(25px 25px 0 0 );
              position: relative;
              display: block;
              overflow: hidden;
              cursor: pointer;
              display: block;
            }

            &:hover{
              span {
                &:before {
                  content: '';
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  background: rgba(0,0,0,0.4);
                }
              }
            }
          }
          .title-proj {
            font-size: 18px;
            color: @project-title-color;
            padding: 25px 0;
          }
          &.active {
            display: flex;
            &#web {
              flex-wrap: wrap;
              .block-img {
                width: 33.3%;
                padding: 0 5px;
                .border-radius(0);
                span {
                  .border-radius(10px);
                }
                &.more {
                  border: 3px solid rgba(235, 235, 235, 0.6);
                  padding: 25px 10px;
                  margin-top: 4px;
                  max-height: 238px;
                  img {
                    max-width: 120px;
                  }
                  .title {
                    font-size: 18px;
                    color: @input-text-color;
                    padding-top: 18px;
                    max-width: 280px;
                    margin: 0 auto;
                  }
                }
                &:hover{
                  span {
                    &:before {
                      content: '';
                      left: 5px;
                      right: 5px;
                      top: 5px;
                      bottom: 5px;
                    }
                  }
                }
                @media screen and (max-width: @tablet) {
                  width: 100%;
                }
              }
            }
          }
      }

      @media screen and (max-width: @tablet) {
        &.tab-item {
          .block-img {
              span {
                .border-radius(42px);
              }
            }
        }
      }
    }
  }
}
