.page.landing.swiper-page(ng-style="{backgroundColor: theme}"  ng-class="{'rtl': isRTL}")
  header-component(ng-style="{backgroundColor: theme}" )
  main.landing-main
    login-component.login-wrap
    .swiper-container(swiper method="landing.swipe" target=".swiper-page")
      .swiper-wrapper
        .swiper-slide.swiper-block.swiper-block-5
          h2.block-header {{ 'SLIDE5-TITLE' | translate }}
          p.block-info {{ 'SLIDE5-TEXT-PART1' | translate }}
          .block-img
            img(src="../assets/images/img-block-5.png")
        .swiper-slide.swiper-block.swiper-block-3
          h2.block-header {{ 'SLIDE3-TITLE' | translate }}
          p.block-info {{ 'SLIDE3-TEXT-PART1' | translate }}
          .block-img-wrap
            .block-img
              img(src="../assets/images/img-block-3-first.png")
              .caption {{ 'SLIDE3-CHOOSE-TEMPLATE' | translate }}
            .block-img
              img(src="../assets/images/img-block-3-second.png")
              .caption {{ 'SLIDE3-CHOOSE-STYLE-COLOR' | translate }}
        .swiper-slide.swiper-block.swiper-block-2
          h2.block-header {{ 'SLIDE2-TITLE' | translate }}
          p.block-info {{ 'SLIDE2-TEXT-PART1' | translate }}
          ul.block-list
            li {{ 'SLIDE2-LIST-ITEM1' | translate }}
            li {{ 'SLIDE2-LIST-ITEM2' | translate }}
            li {{ 'SLIDE2-LIST-ITEM3' | translate }}
            li {{ 'SLIDE2-LIST-ITEM4' | translate }}
          .block-img
            img(src="../assets/images/img-block-2.png")
        .swiper-slide.swiper-block.swiper-block-4
          h2.block-header {{ 'SLIDE4-TITLE' | translate }}
          ul.block-list
            li {{ 'SLIDE4-LIST-ITEM1' | translate }}
            li {{ 'SLIDE4-LIST-ITEM2' | translate }}
            li {{ 'SLIDE4-LIST-ITEM3' | translate }}
            li {{ 'SLIDE4-LIST-ITEM4' | translate }}
          .block-img
            img(src="../assets/images/img-block-4.png")
        .swiper-slide.swiper-block.swiper-block-1
          h2.block-header {{ 'SLIDE1-TITLE' | translate }}
          p.block-info {{ 'SLIDE1-TEXT-PART1' | translate }}
          p.block-info {{ 'SLIDE1-TEXT-PART2' | translate }}
          .block-img
            img(src="../assets/images/img-block-1.png")
      .swiper-pagination
  footer-component
