html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body:extend(html) {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.page {
  min-height: 100%;
  background-image: @overlay-mb-img;
  background-size: 100% @overlay-bg-height-mb;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  &.landing {
    background: @overlay-home-footer;
    background-size: 100% 280px;
  }
  main {
    .block-header {
      font-family: 'Gilroy';
    }

    .block-info {
      font-family: 'Roboto-Light';
    }
  }
  &.rtl {
    direction: rtl;
    main {
      .block-header {
        font-family: 'Heebo', sans-serif;
      }

      .block-info {
        font-family: 'Heebo', sans-serif;
      }
    }
    .swiper-container{
       padding: 0 10px;
       direction: initial;
     }
     .accept-label{
       margin-right: 10px;
     }
     footer{
     .supports-img {
       margin-right: 30px;
       }
     }
  }
  &.landing {
    .footer-features-color {
      display: none;
    }
  }
}

main {
  padding: 20px @grid-margin 0;

  .swiper-container {
    max-width: @swiper-block-width;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .swiper-container-vertical {
    >.swiper-pagination-bullets {
      .swiper-pagination-bullet {
        margin: 12px 0;
      }
    }
  }
  .swiper-block {
    margin-bottom: 40px;
  }
  .swiper-pagination{
    top: 50%;
    margin-top: -30px;
    right: 0;
    position: absolute;
  }
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background-color: #fff;
    opacity: 0.5;
    display: block;
    .border-radius(5px);
    margin: 10px 0;
  }

  .swiper-pagination-bullet-active {
    background-color: #fff;
    opacity: 1;
  }

  .block-header {
    margin-bottom: 35px;
    font-size: 32px;
    font-weight: 300;
  }

  .block-img {
    text-align: center;
  }
  &.landing-main {
    @media screen and (max-width: @medium-laptop) {
       align-items: flex-start;
       flex-wrap: wrap-reverse;
       display: flex;
    }
  }

}

.swiper-block-1 {
  .block-info {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.44;
  }
}

.swiper-block-2 {
  .block-info {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .block-list {
    font-size: 16px;
    line-height: 1.5;
  }
}

.swiper-block-3 {
  .block-info {
    margin-bottom: 30px;
    font-size: 19px;
  }

  .block-img-wrap {
    display: flex;
  }

  .block-img {
    width: 50%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .caption {
    margin-top: 25px;
    font-size: 18px;
  }
}

.swiper-block-4 {
  .block-list {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.swiper-block-5 {
  .block-info {
    margin-bottom: 35px;
    font-size: 20px;
  }

  .block-img {
    text-align: left;
  }
}

.rtl {
  .swiper-block-1 {
    direction: rtl;
    padding: 0 10px 0 0px;
  }

  .swiper-block-2 {
    direction: rtl;
    padding: 0 10px 0 0px;
    .block-img {
      margin-top: 40px;
    }
  }

  .swiper-block-3 {
    padding: 0 10px 0 0px;
    direction: rtl;
  }

  .swiper-block-4 {
    padding: 0 10px 0 0px;
    direction: rtl;
  }

  .swiper-block-5 {
    padding: 0 10px 0 0px;
    direction: rtl;
  }
}

.swiper-container-horizontal {
  >.swiper-pagination-bullets {
    width: 100px;
    right: 0;
    left: 50%;
    bottom: 10px;
    top: 100%;
    text-align: center;
    margin-left: -50px;
     .swiper-pagination-bullet {
        margin: 5px;
        display: inline-block;
     }
  }
}

@media screen and (min-width: 768px) {
  .page {
    background: @overlay-img;
    background-size: auto @overlay-bg-height-tablet;
    transition: background-color .5s;
  }
}

@media screen and (min-width: @tablet) {
  .page {
    background-size: 100% @overlay-bg-height-desk;
  }

  main {
    margin: 0 10px;
    padding: 0;
    max-width: @page-width;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;

    .swiper-container {
      height: @swiper-block-height-tablet;
      max-width: @swiper-block-width-max;
      margin: 0;
    }

    .swiper-block {
      margin-bottom: 0;
      padding-right: 40px;
    }

    .block-header {
      font-size: 30px;
    }
  }
  .swiper-block-1 {
    .block-header {
      margin-bottom: 30px;
    }
    .block-info {
      margin-bottom: 30px;
      font-size: 18px;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  .swiper-block-2 {
    .block-header {
      margin-bottom: 20px;
    }

    .block-info {
      margin-bottom: 15px;
      font-size: 24px;
    }

    .block-list {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  .swiper-block-3 {
    .block-header {
      margin-bottom: 20px;
    }

    .block-info {
      margin-bottom: 50px;
      font-size: 24px;
    }

    .caption {
      font-size: 20px;
    }
  }

  .swiper-block-4 {
    .block-header {
      margin-bottom: 25px;
    }

    .block-list {
      margin-bottom: 5px;
      font-size: 19px;
    }
  }

  .swiper-block-5 {
    .block-header {
      margin-bottom: 20px;
    }

    .block-info {
      margin-bottom: 40px;
      font-size: 24px;
    }
  }
}

@media screen and (min-width: @laptop) {
  main {
    margin: 0 auto;

    .swiper-container {
      height: @swiper-block-height-desk;
    }
  }
}
@media screen and (max-width: @medium-laptop) {
  main {
  .swiper-container {
      height: 370px;
    }
    .block-header {
      font-size: 23px;
      margin-bottom: 10px;
    }
    .swiper-block-1 {
      .block-info {
        font-size: 16px;
        margin-bottom: 3px;
      }
      .block-header {
          margin-bottom: 10px;
       }
    }
    .swiper-block-2 {
      .block-info {
        font-size: 16px;
      }
      .block-list {
        margin-bottom: 5px;
        font-size: 16px;
      }
      .block-header {
          margin-bottom: 10px;
       }
    }

    .swiper-block-3 {
      .block-info {
        font-size: 16px;
      }

      .caption {
        font-size: 16px;
      }
      .block-header {
          margin-bottom: 10px;
       }
    }
    .swiper-block-4 {
      .block-list {
        font-size: 16px;
      }
      .block-header {
          margin-bottom: 10px;
       }
    }

    .swiper-block-5 {
      .block-info {
        font-size: 16px;
        margin-bottom: 10px;
      }
      .block-header {
          margin-bottom: 10px;
       }
      img {
        max-width: 330px;
      }
    }
  }
}
@media screen and (max-width: @laptop) {
  main {
    .swiper-block-5 {
      img {
        max-width: 100%;
      }
    }
  }
  .page {
    position: relative;
    &.landing {
      background: none;
    }
  }
  .container-fluid{
    padding: 0;
  }
}

@media screen and (max-width: @tablet) {
  .page {
    display: block;
  }
  main {
  .swiper-container {
      height: 470px;
      margin-bottom: 20px;
    }
  .block-header {
     margin-bottom: 16px;
     font-size: 24px;
    }
  }
}
