.page.internal.food(ng-class="{'rtl': isRTL}")
  .header-container
    header-component
  main
   a.arrow-back(ui-sref="app.web-app-templates")
   .title {{ 'FOOD & BEVERAGE' | translate }}
   .block-img.phone.main-screen.center
     img(src="../assets/images/pages/food/screen.png")
   .block-img.app.center
     img(src="../assets/images/icons/os.png")
   .screens
     .block-img
       img(src="../assets/images/pages/food/splash1.png")
     .block-img
       img(src="../assets/images/pages/food/splash2.png")
     .block-img
       img(src="../assets/images/pages/food/splash3.png")
     .block-img
       img(src="../assets/images/pages/food/splash4.png")
    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}
  footer-component
