header
  .header-wrap
    a(href="#").logo
    a(href="{{adminLink}}" target="_blank").btn-login {{ 'LOGIN' | translate }}
    .lang-select
      .select(ng-click="header.toggle()" ng-class="{'open': header.showLangs}") {{ currentLang }}
    .popup-langs.animate-if(ng-if="header.showLangs")
      ul
        li.lang(ng-repeat="lang in header.languages"
         ng-click="header.changeLanguage(lang.code)"
         ng-class="{'active': currentLang === lang.code}")
          .block-img
            img(ng-src="{{lang.icon}}")
          .block-lang {{lang.title}}
.header-placeholder
