
.header-placeholder {
  width: 100%;
  height: @header-height-mb;
  flex-basis: @header-height-mb;
  flex-shrink: 0;
  flex-grow: 0;
}

header {
  width: 100%;
  height: @header-height-mb;
  padding: 0 @grid-margin;
  background-color: inherit;
  font-family: 'Roboto-Light';
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 22;
  transition: background-color .5s;

  .header-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .logo {
    width: @logo-size-mb;
    height: 100%;
    background: @logo-small-icon;
    background-size: contain;
    display: block;
  }

  .btn-login {
    min-width: @btn-login-width;
    padding: 7px 15px;
    border: @btn-login-border;
    .border-radius(100px);
    color: #fff;
    text-align: center;
    display: block;
    text-decoration: none;
  }

  .lang-select {
    padding-right: 20px;
  }

  .select {
    padding-right: 20px;
    background: @white-arrow-icon;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s;
    &.open {
      background: @white-arrow-rotate-icon;
    }
  }

  .popup-langs {
    position: absolute;
    right: 0;
    bottom: -235px;
    z-index: 20;
    background: #fff;
    padding: 15px 35px;
    color: @lang-text-color;
    .border-radius(5px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    transition: all. 0.5s;
    &.open {
      display: block;
    }
    ul {
      display: flex;
      max-width: 600px;
      flex-wrap: wrap;
      li {
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        width: 25%;
        margin: 12px 0;
        cursor: pointer;
        display: flex;
        .block-img {
          width: 33px;
          height: 33px;
          display: inline-block;
          overflow: hidden;
          .border-radius(50%);
          &:before {
            position: absolute;
            left: -100%;
            top: 0;
            bottom: 0;
            background: @active-lang-color @ok-icon;
            background-size: 17px;
            z-index: 10;
            content: '';
            .border-radius(50%);
            transition: all .3s;
          }
          img {
            max-width: 100%;
          }
        }
        .block-lang {
          display: inline-block;
          padding: 0 25px 0 10px;
        }

        &.active {
          .block-img {
            position: relative;
            &:before {
              position: absolute;
              left: 0;
              right: 0;
            }
          }
          .block-lang {
            color: @active-lang-color;
          }
        }
      }
    }

    &:before {
      border: 9px solid transparent;
      border-bottom: 9px solid #fff;
      position: absolute;
      right: 27px;
      top: -17px;
      content: '';
    }
  }


 /*.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -ms-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    transition-timing-function: cubic-bezier(0.72,0.32,0.9,0.35);
  }
   .animate-if.ng-enter {
      opacity: 0;
  }

   .animate-if.ng-enter.ng-enter-active {
      opacity:1;
  }

   .animate-if.ng-leave {
      opacity:1;
  }

   .animate-if.ng-leave.ng-leave-active {
      opacity:1;
  }
  */
}

.rtl {
  header {
    .logo {
        margin: 0 0 0 auto;
    }
    .popup-langs {
      right: inherit;
      left: 0;
      ul {
        li {
          .block-lang {
          }
        }
      }
      &:before {
        right: inherit;
        left: 27px;
      }
    }
    .btn-login {
      font-family: 'Heebo', sans-serif;
    }
  }
}

@media screen and (min-width: 768px) {

  header {
    height: @header-height-desk;

    .header-wrap {
      max-width: @page-width;
      margin: 0 auto;
      justify-content: flex-end;
    }

    .logo {
      width: @logo-size-desk;
      margin-right: auto;
      background: @logo-big-icon;
    }

    .btn-login {
      margin-right: 40px;
    }
  }

  .header-placeholder {
    height: @header-height-desk;
    flex-basis: @header-height-desk;
  }
}

@media screen and (max-width: 768px) {
  header {
  .popup-langs {
     bottom: -360px;
     padding: 10px 5px;
     ul {
         li {
          display: block;
          text-align: center;
          font-size: 13px;
            .block-img {
              margin-bottom: 5px;
            }
            .block-lang {
              padding: 0 5px 0 5px;
              display: block;
              text-align: center;
            }
          }
       }
     }
  }
}
@media screen and (max-width: @medium-laptop) {
  header {
    height: 65px;
    .logo {
      width: 145px;
      margin-top: 5px;
      background-size: contain;
    }
  }
  .header-placeholder {
    height: 65px;
  }
}


@media screen and (max-width: @mobile-large) {
  header {
    .logo {
      width: 45px;
      margin-top: 0;
    }
  }
}
