.page.internal.modern-look(ng-class="{'rtl': isRTL}")
  .header-container.circles-bg
    header-component
  main
   .arrow-back
   .title {{ 'MODERN-LOOK-PAGE-TITLE' | translate }}
   .block-img.desktop.main-screen.center
     img(src="../assets/images/pages/modern-look/screen.png")
   .block-img.devices
     img(src="../assets/images/icons/devices.png")
   .screens
     .block-img
       img(src="../assets/images/pages/modern-look/splash1.png")
     .block-img
       img(src="../assets/images/pages/modern-look/splash2.png")
     .block-img
       img(src="../assets/images/pages/modern-look/splash3.png")
    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}
  footer-component
