.chat-box(ng-class="{'opened':chatBox.chatIsOpen}")
    //- .chat-header(ng-click="chatBox.chatIsOpen = !chatBox.chatIsOpen")
    //-     | {{"CHAT_ONLINE_SUPPORT" | translate}}
    //-     img.img-head(src="../assets/chat-icons/support_guy.png")
    //-     img.img-arrow(src="../assets/chat-icons/arrow_down.png", ng-class="{'rotated':chatBox.chatIsOpen}")
    .messages-wrapper
        ul.chat-messages(scroll-bottom-on-event="MessageAdding")
            li(ng-repeat="message in chatBox.messages", ng-class="{'padding-left admin':!message.user }" on-finish-render="MessagesLoaded")
                img.support-img(src="../assets/images/pages/support/support.png", ng-if="!message.user")
                .message-box(ng-class="{'user':message.user, 'suport':!message.user}")
                    .text(ng-bind-html="message.text | translate")
        .chat-textarea
            textarea#comment-area(rows="1", placeholder="{{'COMMENT-PLACEHOLDER' | translate}}", ng-model="chatBox.myMessage", enter-press="chatBox.sendMessage()")
            .btn-send(ng-click="chatBox.sendMessage()")
