//chat styles
.messages-wrapper {
  padding-left: 120px;
  @media screen and (max-width: @tablet) {
    padding-left: 0;
  }
}
.chat-box {
  margin-top: 70px;
  .img-arrow{
    position: absolute;
    top:50%;
    height: 10px;
    margin-top: -5px;
    right:15px;

  }
  .chat-textarea{
    position:relative;
    height: 50px;
    padding-right: 40px;
    max-width: 825px;
    textarea {
      font-size: 16px;
      line-height: 1.2;
      padding: 20px 40px 10px 20px;
      resize: none;
      width: 100%;
      display: block;
      border:none;
      outline: none;
      height: 66px;
      background-color: #ffffff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
      width: 100%;
      color: @comment-text-placeholder-color;
      &:focus {
        outline: none;
      }
    }

    &:hover {
    .btn-send {
        right: 53px;
      }
    }
  }
  .btn-send {
    cursor: pointer;
    position:absolute;
    top: 16px;
    right: 57px;
    width: 30px;
    bottom: 0;
    background: @send-icon;
    background-size: 29px auto;
    transition: all .5s;
  }
  .chat-messages {
    overflow: auto;
    padding: 20px 10px;
    margin: 0px;
    list-style: none;
    max-width: 788px;

    li {
      position: relative;
      width: 100%;
      display: block;
      text-align: right;
      &:after {
        clear:both;
      }
      &.padding-left {
        padding-left: 75px;
        padding-top: 5px;
      }
      &.admin{
        text-align: left;
        margin-bottom: 10px;
      }
    }

  }
  .message-box {
    max-width: 367px;
    padding: 8px 20px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    text-align: left;
    &:after {
      content:"";
      position: absolute;
      bottom: 0;
      margin-top: -5px;
    }
    &.user {
      background-color: @user-bg-comment;
      color: @input-text-color;
      &:after {
        border-left:7px solid @user-bg-comment;
        border-top:7px solid transparent;
        left:100%;
      }
    }
    &.suport {
      background-color: @support-bg-comment;
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      &:after {
        border-right: 7px solid @support-bg-comment;
        border-top: 7px solid transparent;
        right:100%;
      }
    }
  }
  .text {
    font-size: 16px;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .support-img {
    position:absolute;
    left:0px;
    top:5px;
    width: 55px;
  }
}

&.rtl {
  .chat-textarea{
    position:relative;
    height: 50px;
    padding-left: 40px;
    padding-right: 0;
    max-width: 825px;
    textarea {
      font-size: 16px;
      line-height: 1.2;
      padding: 20px 20px 10px 40px;
      resize: none;
      width: 100%;
      display: block;
      border:none;
      outline: none;
      height: 66px;
      background-color: #ffffff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
      width: 100%;
      color: @comment-text-placeholder-color;
      &:focus {
        outline: none;
      }
    }

    &:hover {
    .btn-send {
        right: inherit;
        left: 53px;
      }
    }
  }
  .btn-send {
    left: 57px;
    right: inherit;
  }
}
