@import "base/_fonts.less";
@import "base/_reset.less";
@import "base/_variables.less";
@import "base/_mixins.less";
@import "base/_elements.less";
@import "base/_animate.less";

.page {
  &.internal {
    .header-container {
      height: @page-header-height;
      header {
        position: relative;
      }
      &.circles-bg {
        background: @header-bg @circles-bg;
        background-size: contain;
        &.orange {
          background-color: @orange-header;
        }
        &.green {
          background-color: @green-header;
        }
        &.pink {
          background-color: @pricing-plans-header;
        }
        &.cyan {
          background-color: @cyan-header;
        }

      }
    }

    &.small-offset {
      .header-container {
        height: 145px;
      }
      main {
          margin: -70px auto 250px;
      }
    }
    main {
      margin: -225px auto 200px ;
      display: block;
      font-family: Gilroy;
      position: relative;
      .title {
        color: #fff;
        font-size: 34px;
        font-weight: 300;
        text-align: center;
      }
      .cornered-title {
        text-align: center;
        font-size: 36px;
        line-height: 42px;
        position: relative;
        .corner {
          position: absolute;
          top: 20px;
          width: 160px;
          height: 28px;
          &.left {
            left: 0;
          }
          &.right {
            right: 0;
          }
          @media screen and (max-width: @tablet)  {
            display: none;
          }
        }
        &.green {
          color: @green-cornered-title;
          .corner {
            &.left {
              box-shadow: -2px -2px 0px 1px @green-cornered-title;
            }
            &.right {
              box-shadow: 2px -2px 0px 1px @green-cornered-title;
            }
          }
        }
        &.blue {
          color: @blue-cornered-title;
          .corner {
            &.left {
              box-shadow: -2px -2px 0px 1px @blue-cornered-title;
            }
            &.right {
              box-shadow: 2px -2px 0px 1px @blue-cornered-title;
            }
          }
        }
        &.yellow {
          color: @yellow-cornered-title;
          .corner {
            &.left {
              box-shadow: -2px -2px 0px 1px @yellow-cornered-title;
            }
            &.right {
              box-shadow: 2px -2px 0px 1px @yellow-cornered-title;
            }
          }
        }
      }

      .title-bordered {
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        line-height: 42px;
        position: relative;
        color: @start-section-text-color;
        margin-top: 90px;
        &.pink {
          color: @pink-bordered-title;
          &:before {
            background: @pink-bordered-title;
          }
        }
        &.orange {
          color: @orange-bordered-title;
          &:before {
            background: @orange-bordered-title;
          }
        }
        &.blue {
          color: @blue-bordered-title;
          &:before {
            background: @blue-bordered-title;
          }
        }
        &:before {
          position: absolute;
          width: 90px;
          height: 2px;
          background: @input-active-color;
          left: 50%;
          bottom: -30px;
          margin-left: -45px;
          content: '';
        }
        @media screen and (max-width: @tablet) {
          font-size: 24px;
          margin-top: 55px;
          line-height: 30px;
        }
      }
      .block-img {
        img {
          max-width: 100%;
        }
        &.center {
          margin: 0 auto;
        }
        &.phone {
          width: 250px;
        }
        &.desktop {
          max-width: 500px;
        }
        &.app {
          width: 50px;
          margin: 15px auto;
        }
        &.devices {
          width: 88px;
          margin: 45px auto;
        }
      }

      .screens {
        display: flex;
        img {
          max-width: 100%;
        }
      }
      .start-section {
        .title {
          color: @start-section-text-color;
          font-size: 30px;
          line-height: 36px;
          margin: 80px 0 55px 0;
          font-family: Roboto-Light;
        }
        .large-btn {
          max-width: 300px;
          margin: 0 auto;
          display: block;
          font-size: 23px;
          font-weight: 600;
        }
      }
    }

    footer {
      .footer-nav-link {
        color: @footer-text-color;
      }
      .supports {
        display: none;
      }
      .footer-features {
        display: none;
      }
      .footer-nav {
        border: none;
      }
      .footer-features-color {
        display: flex;
        align-items: center;
        width: 250px;
        margin: 5px auto 25px;
        li {
          margin: 0 10px;
        }
      }
    }
    @media screen and (max-width: @tablet) {
    main {
      .block-img.phone {
          &.main-screen {
            padding: 0 30px;
          }
        }
      }
    }
    @media screen and (max-width: @mobile-large) {
    &.small-offset {
      main {
          margin: -90px auto 50px;
      }
    }
    .header-container {
      height: 200px;
    }
    main {
        margin: -125px auto 50px ;
        .title {
          font-size: 30px;
        }
        .block-img.phone {
          &.main-screen {
            padding: 0 30px;
          }
        }
      }
        .screens {
          flex-wrap: wrap-reverse;
        }
        .start-section {
        .title {
             font-size: 20px;
             line-height: 26px;
             margin: 20px 0 25px 0;
          }
        }
        footer {
          background: @overlay-mb-img-center;
          padding: 10px 0;
          background-size: cover;
          .footer-nav {
            padding: 20px 0 0px;
          }
        }
      }
    }


  &.clean-cut {
    position: relative;
    .header-container {
      background: @cleancut-header-bg;
      background-size: cover;
    }
  }
}

.page {
  &.internal {
    .header-container {
      height: @page-header-height;
      header {
        position: relative;
      }
    }
    main {
      margin: -250px auto 200px ;
      display: block;
      font-family: Gilroy;
      position: relative;
      .title {
        color: #fff;
        font-size: 34px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 30px;
      }
      .block-img {
        img {
          max-width: 100%;
        }
        &.center {
          margin: 0 auto;
        }
        &.phone {
          width: 250px;
        }
        &.app {
          width: 50px;
          margin: 15px auto;
        }
      }

      .screens {
        display: flex;
        img {
          max-width: 100%;
        }
      }
      .start-section {
        .title {
          color: @start-section-text-color;
          font-size: 30px;
          line-height: 36px;
          margin: 80px 0 55px 0;
        }
        .large-btn {
          max-width: 300px;
          margin: 0 auto;
          display: block;
        }
      }
    }

    footer {
      .footer-nav-link {
        color: @footer-text-color;
      }
      .supports {
        display: none;
      }
      .footer-features {
        display: none;
      }
      .footer-nav {
        border: none;
      }
      .footer-features-color {
        display: flex;
        align-items: center;
        width: 250px;
        margin: 5px auto 25px;
        li {
          margin: 0 10px;
        }
      }
    }
    @media screen and (max-width: @tablet) {
    main {
      .block-img.phone {
          &.main-screen {
            padding: 0 30px;
          }
        }
      }
    }
    @media screen and (max-width: @mobile-large) {
    .header-container {
      height: 200px;
    }
    main {
        margin: -125px auto 50px ;
        .title {
          font-size: 24px;
        }
        .block-img.phone {
          &.main-screen {
            padding: 0 30px;
          }
        }
      }
        .screens {
          flex-wrap: wrap-reverse;
        }
        .start-section {
        .title {
             font-size: 20px;
             line-height: 26px;
             margin: 20px 0 25px 0;
          }
        }
        footer {
          background: @overlay-mb-img-center;
          padding: 10px 0;
          background-size: cover;
          .footer-nav {
            padding: 20px 0 0px;
          }
        }
      }
    }
    &.internal {
      &.rtl {
        main {
          font-family: 'Heebo', sans-serif;
          .start-section {
            .title {
              font-family: 'Heebo', sans-serif;
            }
          }
        }
      }
    }
}
