.page {
  &.pricing {
    position: relative;
    .pricing {
      display: flex;
      margin: 80px 0px 0;
      align-items: stretch;
      .pricing-item {
        padding: 30px 15px 15px;
        box-shadow: 0px 0px 10px 1px #e6e6e6;
        margin: 0 10px;
        transition: all .5s;
        position: relative;
        width: 25%;
        &:hover{
          background: @pricing-plans-item-hover;
        }
        .border-radius(4px);
        .title {
          margin-bottom: 0px;
          font-size: 35px;
        }
        .title-bordered  {
          color: @pricing-plans-subtitle-color;
          font-size: 16px;
          margin-top: 0px;
          &:before {
            width: 130px;
            bottom: -13px;
            margin-left: -65px;
            content: '';
          }
        }
        ul {
          margin: 33px 0 115px 0;
          li {
            color: @pricing-plans-list;
            font-size: 15px;
            font-family: Roboto-Light;
            margin: 7px 0;

            .plus {
              padding-right: 4px;
            }
          }
        }
        .price-box {
          position: absolute;
          text-align: center;
          bottom: 70px;
          left: 0;
          width: 100%;
          color: @pricing-plans-list;
          .price {
            font-size: 35px;
          }
          .period {
            font-size: 20px;
          }
          .currency {
            font-size: 21px;
            padding-right: 2px;
          }
        }
        .price-btn {
          position: absolute;
          left: 15px;
          right: 15px;
          width: auto;
          bottom: 20px;
        }

        &.giki {
          .title {
            color: @giki-color;
          }
          .plus {
            color: @giki-color;
          }
          .title-bordered  {
            &:before {
              background: @giki-color;
              content: '';
            }
          }
          .price-btn {
            background: @giki-color;
            &:hover {
              background: @giki-color-hover;
            }
          }
        }
        &.vip {
          .title {
            color: @vip-color;
          }
          .plus {
            color: @vip-color;
          }
          .title-bordered  {
            &:before {
              background: @vip-color;
              content: '';
            }
          }
          .price-btn {
            background: @vip-color;
            &:hover {
              background: @vip-color-hover;
            }
          }
        }
        &.gold {
          .title {
            color: @gold-color;
          }
          .plus {
            color: @gold-color;
          }
          .title-bordered  {
            &:before {
              background: @gold-color;
              content: '';
            }
          }
          .price-btn {
            background: @gold-color;
            &:hover {
              background: @gold-color-hover;
            }
          }
        }
        &.premium {
          .title {
            color: @premium-color;
          }
          .plus {
            color: @premium-color;
          }
          .title-bordered  {
            &:before {
              background: @premium-color;
              content: '';
            }
          }
          .price-btn {
            background: @premium-color;
            &:hover {
              background: @premium-color-hover;
            }
          }
        }
      }
      @media screen and (max-width: @tablet) {
        flex-wrap: wrap;
        .pricing-item {
          width: 44%;
          margin: 10px 3%;
        }
      }
      @media screen and (max-width: @mobile-large) {
        flex-wrap: wrap;
        .pricing-item {
          width: 94%;
          margin: 10px 3%;
        }
      }
    }
    &.rtl {
    font-family: 'Heebo', sans-serif;
    .pricing {
      .pricing-item {
        ul {
          li {
            font-family: 'Heebo', sans-serif;
            .plus {
              padding-left: 4px;
              padding-right: 0;
            }
          }
        }
      }
    }
   }
  }
}
