.page.internal.pricing.small-offset(ng-class="{'rtl': isRTL}")
  .header-container.circles-bg.pink
    header-component
  main
   .title {{ 'PRICING-PAGE-TITLE' | translate }}
   .title-bordered
     div  {{ 'CHOOSE-PLANS-TEXT-LINE1' | translate }}
     div  {{ 'CHOOSE-PLANS-TEXT-LINE2' | translate }}
   .pricing
      .pricing-item.giki
        .title GIKI
        .title-bordered {{ 'GIKI-SUBTITLE' | translate }}
        ul
          li
            span.plus +
            span{{ 'AMAZING-APP' | translate }}
          li
            span.plus +
            span{{ 'DESKTOP-MOB' | translate }}
          li
            span.plus +
            span{{ 'BASIC-PACKAGE' | translate }}
          li
            span.plus +
            span $9 {{ 'FREE-IN-GEEKTRACKER' | translate }}
        .price-box
          sup.currency $
          span.price 9
          span.period /{{ 'MONTH' | translate }}
        a.large-btn.price-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}

      .pricing-item.vip
        .title VIP
        .title-bordered {{ 'VIP-SUBTITLE' | translate }}
        ul
          li
            span.plus +
            span{{ 'AMAZING-APP' | translate }}
          li
            span.plus +
            span{{ 'DESKTOP-MOB' | translate }}
          li
            span.plus +
            span{{ 'BASIC-PACKAGE' | translate }}
          li
            span.plus +
            span{{ 'ONLINE-SHOP' | translate }}
          li
            span.plus +
            span $49 {{ 'FREE-IN-GEEKTRACKER' | translate }}
        .price-box
          sup.currency $
          span.price 49
          span.period /{{ 'MONTH' | translate }}
        a.large-btn.price-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}
      .pricing-item.gold
        .title GOLD
        .title-bordered {{ 'GOLD-SUBTITLE' | translate }}
        ul
          li
            span.plus +
            span{{ 'AMAZING-APP' | translate }}
          li
            span.plus +
            span{{ 'DESKTOP-MOB' | translate }}
          li
            span.plus +
            span{{ 'BASIC-PACKAGE' | translate }}
          li
            span.plus +
            span{{ 'BOOKING-SYSTEM' | translate }}
          li
            span.plus +
            span $49 {{ 'FREE-IN-GEEKTRACKER' | translate }}
        .price-box
          sup.currency $
          span.price 49
          span.period /{{ 'MONTH' | translate }}
        a.large-btn.price-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}

      .pricing-item.premium
        .title PREMIUM
        .title-bordered {{ 'PREMIUM-SUBTITLE' | translate }}
        ul
          li
            span.plus +
            span{{ 'AMAZING-APP' | translate }}
          li
            span.plus +
            span{{ 'DESKTOP-MOB' | translate }}
          li
            span.plus +
            span{{ 'BASIC-PACKAGE' | translate }}
          li
            span.plus +
            span{{ 'ONLINE-SHOP' | translate }}
          li
            span.plus +
            span{{ 'BOOKING-SYSTEM' | translate }}
          li
            span.plus +
            span $99 {{ 'FREE-IN-GEEKTRACKER' | translate }}
        .price-box
          sup.currency $
          span.price 99
          span.period /{{ 'MONTH' | translate }}
        a.large-btn.price-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}

    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}
  footer-component
