.custom-select
    .only-desktop
        .select-input(ng-click="customSelectDirectiveCtrl.toggleSelect()")
            span(ng-if="customSelectDirectiveCtrl.selectedItem && customSelectDirectiveCtrl.nameProperty") {{customSelectDirectiveCtrl.selectedItem[customSelectDirectiveCtrl.nameProperty]}}
            span(ng-if="customSelectDirectiveCtrl.selectedItem && !customSelectDirectiveCtrl.nameProperty" ) {{customSelectDirectiveCtrl.selectedItem}}
            span.placeholder(ng-if="!customSelectDirectiveCtrl.selectedItem") {{customSelectDirectiveCtrl.selectLabel}}
            .options-wrapper
                .options.ng-hide(ng-show="customSelectDirectiveCtrl.selectIsOpen",
                id="{{'select-' + $id}}")
                    .options-item(ng-repeat="item in customSelectDirectiveCtrl.items track by $index",
                    ng-class="{'active': customSelectDirectiveCtrl.selectedItem === item}",
                    ng-click="customSelectDirectiveCtrl.selectedItem = item; customSelectDirectiveCtrl.isSelected = true;")
                        span(ng-if="customSelectDirectiveCtrl.nameProperty") {{item[customSelectDirectiveCtrl.nameProperty]}}
                        span(ng-if="!customSelectDirectiveCtrl.nameProperty") {{item}}
    //- .only-mobile.styled-select(ng-if="customSelectDirectiveCtrl.nameProperty")
    //-     select(ng-options="item[customSelectDirectiveCtrl.nameProperty] for item in customSelectDirectiveCtrl.items",
    //-     ng-model="customSelectDirectiveCtrl.selectedItem")
    //-         option(value="" ng-if="!customSelectDirectiveCtrl.selectedItem") {{customSelectDirectiveCtrl.selectLabel}}
    //- .only-mobile.styled-select(ng-if="!customSelectDirectiveCtrl.nameProperty")
    //-     select(ng-options="item for item in customSelectDirectiveCtrl.items", ng-model="customSelectDirectiveCtrl.selectedItem")
    //-         option(value="" ng-if="!customSelectDirectiveCtrl.selectedItem") {{customSelectDirectiveCtrl.selectLabel}}
