
.custom-select {
  .select-input {
    cursor: pointer;
    height: 30px;
    padding: 4px 30px 4px 0;
    border-bottom: solid 2px rgba(218, 218, 218, 0.35);
    position: relative;
    background: @black-arrow-icon;
    font-size: 16px;
    font-weight: 600;
    &:nth-child(2) {
      margin: 0 5%;
    }
  }
  .options-wrapper {
    z-index: 30;
    overflow: hidden;
    width: calc(~'100% + 10px');
    padding: 5px;
    position: absolute;
    top: calc(~'100% - 3px');
    left: -5px;

  }
  .options {
    transition: all 0s;
    width: 100%;
    max-height: 130px;
    overflow-y: auto;
    z-index: 20;
    box-shadow: blue;
    background-color: white;
    &.ng-hide-add {
      animation-name: slideToTop;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
    &.ng-hide-remove{
      animation-name: slideFromTop;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }

    .options-item {
      height: auto;
      padding: 8px 14px;
      background-color: #fff;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: #f3f3f3;
      }
    }
  }
}

.custom-select {
  .only-mobile{
    display: block;
  }
  .only-mobile{
    display: none;
  }
  @media screen and (max-width: @laptop) {
    .only-mobile{
      display: none;
    }
    .only-mobile{
      display: block;
    }
  }
}
