.page {
  &.internal {
    &.partners {
      position: relative;
      .screens {
        margin-top: 160px;
        .block-img {
          margin: 0 40px;
        }
      }

      @media screen and (max-width: @tablet) {
      main {
        .screens {
            margin-top: 80px;
            display: block;
            .block-img {
              max-width: 150px;
              margin: 40px auto 65px;
            }
          }
        }
      }
    }
  }
}
