.page.internal.partners.small-offset(ng-class="{'rtl': isRTL}")
  .header-container.circles-bg.orange
    header-component
  main
   .title {{ 'PARTNERS-PAGE-TITLE' | translate }}
   .screens
     .block-img
       img(src="../assets/images/pages/partners/london-stock-exchange.png")
     .block-img
       img(src="../assets/images/pages/partners/elite.png")
     .block-img
       img(src="../assets/images/pages/partners/ynet.png")
     .block-img
       img(src="../assets/images/pages/partners/cal.png")
     .block-img
       img(src="../assets/images/pages/partners/mastercard.png")
    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate }}
  footer-component
