.page.internal.privacy-policy.small-offset(ng-class="{'rtl': isRTL}")
  .header-container.circles-bg.blue
    header-component
  main
    .title {{ 'PRIVACY-PRIVATE' | translate }}
    .terms
        .section-title GeekApps - Website Customers Privacy Policy
        div Last updated on: 05.05.2017
        div The following Privacy Policy ("Privacy Policy"), details Arty GeekApps R&D. Ltd.`s (“GeekApps”, “We” "Our" or "Us"), information gathering and dissemination practices regarding the Website and/or the App.
        div Our user agreement ("Agreement"), incorporates and includes this Privacy Policy and the terms of use ("Terms"), which form an integral and inseparable part of the Agreement. The Terms are incorporated herein by reference. By providing information to Us in order to use the Website and/or App, you are expressly and voluntarily accepting the terms and conditions of the Agreement and allowing Us to process and verify information about you (in this Privacy policy, a "Customer" "Customers" "You" or "Your"). If You object to Your information being transferred or used as detailed in this Privacy Policy, please do not use the Website and/or App.
        .section-title  1. Information We Collect
        divIn order to use the Website and/or App, You must provide us with information, such as your name, e-mail, contact and credit card details. If You choose to purchase certain services offered through the Website and/or App, You may be required to provide additional information. You agree to allow others, including Us, to use your information in accordance with the provisions of the Agreement. We may collect this information through a variety of ways, including from You directly, from our affiliates and from other business partners. We may also collect information from Your End Users (as defined in the Terms), including Location Info (as defined in the Terms), and transfer such information to other Customers.
        div We try to prevent potential fraud, and therefore, We may verify any information You provide Us by using the services of third parties. As part of such verification process, We may receive personally identifiable information concerning You from such services, including background and/or credit analysis.
        div We may also collect non-personal information about Your use of the Website and/or App. We may combine your non-personal information with your personal information in an attempt to provide You with a better user experience, to improve the value and quality of the Website and/or App and to analyze how the Website and/or App are used. In the event You choose to share additional information in the framework of the Website and/or App, You do so at your sole discretion and sole responsibility.
        .section-title  2. Personal Information
        div We may communicate with you through email, notices or through other means available on the Website and/or App. We may also send service messages relating to the functioning of the Website and/or App and/or messages with promotional information directly or on behalf of our partners. All costs of communications to or from Your mobile device will be borne by You (including text messaging charges).
        div We reserve the right to retain Your correspondence with our customer service and to record phone calls to or from Our customer service with You, for purpose of responding to customer inquiries, improving Our customer service, investigating potential fraud and breaches of the Agreement. We have no obligation to retain the above materials, and may delete such records without the need to first notify and/or receive Your consent if We are entitled to under applicable law.
        div In certain cases you may be requested to provide personal information about others to us. In such cases, We rely on You to obtain such other persons` consent for disclosing their information to Us which We will use in accordance with the terms hereof. Subject to the provisions of the Agreement, You may always choose what personal information (if any) you provide to Us. If you choose not to provide certain details, however, You will not be able to enjoy certain services and features offered under the Website and/or App. In general, We use personal information for the purposes set forth in the Agreement, including in order to: (1) provide the services you request; (2) send you periodic satisfaction, research or quality assurance surveys; (3) send You offers and promotions, from Us and from Our affiliates; and (v) improve Our products and services.
        div We take Your privacy very seriously, and We do not sell, rent or otherwise provide Your personally identifiable information or details to third parties, except as described in the Agreement. We will also not share other personal information generated through engagement with other services, without Your explicit consent (to include, without limitation, Your consents under the Terms) or in order to carry out Your instructions unless, disclosure is reasonably necessary in our opinion, in order to perform any of the following actions: (1) comply with legal process, including, without limitation, court orders and/or compulsory disclosures required by governmental authorities; (2) enforce the Agreement; (3) respond to customer service inquiries; or (4) protect Our rights, property or personal safety, of other Customers and/or End Users and/or the public in general. We may provide aggregated anonymous data about the usage of the Website and/or App to third parties for various purposes, in our sole discretion, including to prospective advertisers. We may use some or all of the information You provide us in order to perform certain statistical calculations, some of which may be presented on the Website and/or App; provided, however, that none of these calculations shall include any personally identifiable information or details.
        .section-title  3. Information Storage & Processing
        div We will retain a copy of the information that You originally provided to Us, for so long as needed to provide services regarding the Website and/or App. You acknowledge that Your personal information will be stored and processed on Our systems and in databases in certain jurisdictions, in accordance with such jurisdictions` applicable laws, including privacy protection laws. We will also retain and use Your information as necessary to comply with Our legal obligations, to resolve any disputes arising out of use in the Website and/or App and in accordance with this Agreement.
        .section-title  4. Cookies; Advertising; Internet Related Information
        div Cookies are technological identification tools transferred to Your computer, mobile phone or other device, by Us and/or by Our service providers, that allow Us to recognize You when You return to the Website and/or App and/or when using the same computer and web browser. Through the cookies, Our systems shall recognize your browser to track Website and/or App usage trends, to improve the quality of our services, to customize Your experience on the Website and/or App, as well as to deliver third-party advertising both on and off the Website and/or App. You can remove or block cookies using the settings in your browser, but in some cases doing so may impact your ability to use the Website and/or App and might limit Your ability to enjoy certain services and/or features offered through the Website and/or App. We shall have no responsibility to You with respect to cookies.
        div To support the Website and/or App, as well as to provide a more relevant and useful experience for our Users, we may target and serve, at no cost to You, Our own ads and third-party ads both on and off the Website and/or App.
        div We may receive the IP address of your computer (or the server you use to access the web), operating system, web browser, mobile device, Your ISP or mobile carrier and certain additional information. The link between your IP address and your personally identifiable information or details is not shared with third parties without your permission, except as specifically provided otherwise in the Agreement.
        .section-title  5. Third Party Services
        div We will not share your information with any third parties, except as provided in the Agreement and/or to third parties who perform services, including Website and/or App maintenance and information verification. Those third parties will be granted access to a limited scope of information strictly necessary to perform their functions.
        .section-title  6. International Transfer
        div We may transfer Your information, including personal information, to affiliated entities, or to other third parties across borders and from Your country or jurisdiction to other countries or jurisdictions around the world. If you are located in the U.S, European Union or other regions with laws governing privacy, data collection and use, please note that You are transferring information, including personal information, to a country and jurisdiction that does not have the same privacy and data protection laws as Your jurisdiction, and You consent to the transfer of information, and to the use and disclosure of information about You, including personal information, as described herein. You also understand that We may transfer information for storage, process and for providing the services and/or for other purposes permitted under this Agreement outside Israel, including, without limitation, for storage on cloud services, and by agreeing to the terms of the Agreement you explicitly agree to such transfer
        .section-title  7. Security
        div We take technical and organizational measures designed to secure Your personal information from accidental loss and from unauthorized access, use, alteration or disclosure. However, due to the nature of the Internet, We cannot guarantee that unauthorized third parties will never be able to overcome those measures or use Your personal information for improper purposes. Please also note that emails and similar means of communication are not encrypted, and We strongly advise You not to communicate any confidential information through such means.
        .section-title  8. Updates
        div We are entitled to change and update this Privacy Policy from time to time, in our exclusive discretion, without having to provide notice thereof. Responsibility to become familiar with said changes, if any, affected to this Privacy Policy rests on You alone.
    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate }}
  footer-component
