.page.internal.discover.small-offset(ng-class="{'rtl': isRTL}")
  .header-container.circles-bg.green
    header-component
  main
   .title {{ 'DISCOVER-PAGE-TITLE' | translate }}
   .title-bordered {{ 'TOP-AMAZING-GEEKAPPS' | translate }}
   .screens
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/barber.png")
         .links
           .ios
             a(href="https://itunes.apple.com/ua/app/bennys-barbershop/id1200714117?mt=8&ign-mpt=uo%3D4" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app618&hl=uk" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/lugasi.png")
         .links
           .ios
             a(href="https://itunes.apple.com/us/app/simply-beautiful-flowers/id1185348892?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app254" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/zion.png")
         .links
           .ios
             a(href="https://itunes.apple.com/us/app/ziontrails/id1196908723?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/search?q=ZionTrails&c=apps" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/poyo.png")
         .links
           .ios
             a(href="https://itunes.apple.com/us/app/poyo-loko/id1156169988?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app129" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/asaraf.png")
         .links
           .ios
             a(href="https://itunes.apple.com/ru/app/eitan-asaraf/id1149321621?l=en&mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app83" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/mikela.png")
         .links
           .ios
             a(href="https://itunes.apple.com/us/app/mikela-israel/id1189820974?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app488" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/go-delivery.png")
         .links
           .ios
             a(href="https://itunes.apple.com/us/app/go-delivery/id1151389445?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app41" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/precious.png")
         .links
           .ios
             a(href="https://itunes.apple.com/us/app/precious-boutique/id1181448581?mt=8" target="_blank")
           .android
             a(href="https://itunes.apple.com/us/app/river-edge-restaurant/id1178695976?mt=8" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/river-edge.png")
         .links
           .ios
             a(href="https://itunes.apple.com/us/app/river-edge-restaurant/id1178695976?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app287" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/milana.png")
         .links
           .ios
             a(href="https://itunes.apple.com/ru/app/miri-milana/id1160249552?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app153" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/yana-yoseff.png")
         .links
           .ios
             a(href="https://itunes.apple.com/ru/app/yana-yosef/id1183366211?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app427" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/soul.png")
         .links
           .ios
             a(href="https://itunes.apple.com/mr/app/soul-boutique/id1203189404?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app654" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/big-mobile.png")
         .links
           .ios
             a(href="https://itunes.apple.com/us/app/big-mobile/id1171409491?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app173" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/lian.png")
         .links
           .ios
             a(href="https://itunes.apple.com/us/app/lian-fishbein/id1147692570?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app64" target="_blank")
     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/black-white.png")
         .links
           .ios
             a(href="https://itunes.apple.com/us/app/black-white-israel/id1192356005?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app503" target="_blank")

     .block-wrap
       .block-img
         img(src="../assets/images/pages/discover/kamikaz.png")
         .links
           .ios
             a(href="https://itunes.apple.com/us/app/kamikaz/id1156516203?mt=8" target="_blank")
           .android
             a(href="https://play.google.com/store/apps/details?id=com.artygeekapps.app118" target="_blank")
    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}
  footer-component
