.page {
  &.internal {
    &.discover {
      position: relative;
      .screens {
        margin-top: 85px;
        flex-wrap: wrap;
        .block-wrap {
          padding: 0 40px;
          width: 16.66%;
          margin-bottom: 30px;
          .block-img {
            width: 91px;
            height: 91px;
            position: relative;
            overflow: hidden;
            .border-radius(50%);
            .links {
              .border-radius(50%);
              position: absolute;
              left: -100%;
              width: 100%;
              top: 0;
              bottom: 0;
              background: rgba(0,0,0,0.8);
              transition: all .5s;
              > div {
                width: 20px;
                height: 25px;
                position: absolute;
                left: 22px;
                top: 32px;
                background-position: 0 0;
                background-size: cover;
                a {
                  display: block;
                  cursor: pointer;
                  width: 100%;
                  height: 100%;
                }
                &.ios {
                  background: @app-link-icon;
                  background-position: 0 0;
                  background-size: cover;
                }
                &.android {
                  background: @app-link-icon;
                  background-position: -36px 0;
                  background-size: cover;
                  left: 50px;
                  top: 31px;
                  width: 21px;
                }
              }
            }
          }

          &:hover {
            .links {
              left: 0;
            }
          }
        }
      }

      @media screen and (max-width: @tablet) {
      main {
        .screens {
            margin-top: 80px;
            .block-wrap {
              padding: 0;
              width: 33.3%;
              }
            .block-img {
              max-width: 150px;
              width: 50%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
