
form.sign-in-form(name="loginForm" novalidate )


  .input-wrap
    input.input-item(
      type="email"
      name="email"
      required
      ng-model="login.user.email"
      placeholder="{{ 'EMAIL-ADDRESS' | translate }}"
      ng-model-options="{ updateOn: 'blur'}"
      ng-class="{'exist': login.existEmail}"
      ng-change="login.existEmail = false"
    )
    span.input-border.email
    div(ng-if="loginForm.$submitted || loginForm.email.$touched" class="error-wrap")
      span(ng-if="loginForm.email.$error.required") {{ 'EMAIL-ADDRESS-REQUIRED' | translate}}
      span(ng-if="loginForm.email.$error.email") {{ 'EMAIL-ADDRESS-MUST-INCLUDE-SYMBOL' | translate }}
      span(ng-if="login.existEmail") {{ 'ERROR_ACCOUNT_WITH_SAME_EMAIL_ALREADY_EXISTS' | translate}}
      span(ng-if="login.error") {{ 'ERROR' | translate}}

  .input-wrap
    input.input-item(
      type="password"
      name="password"
      required
      ng-model="login.user.password"
      placeholder="{{ 'NEW-PASSWORD' | translate }}"
      ng-model-options="{ updateOn: 'blur'}"
      ng-minlength="6"
      )
    span.input-border
    div(ng-if="loginForm.$submitted || loginForm.password.$touched" class="error-wrap")
      span(ng-if="loginForm.password.$error.required") {{ 'PASSWORD-REQUIRED' | translate }}
      span(ng-if="loginForm.password.$error.minlength") {{ 'PASSWORD-MUST-INCLUDE-CHARACTERS' | translate }}
  .input-wrap
    input.input-item(
      type="password"
      name="confirmPassword"
      required
      ng-model="login.user.confirmPass"
      compare compare-target="login.user.password"
      ng-model-options="{ updateOn: 'blur'}"
      placeholder="{{ 'CONFIRM-PASSWORD' | translate }}"
      )
    span.input-border
    div(ng-if="loginForm.$submitted || loginForm.confirmPassword.$touched" class="error-wrap")
      span( ng-if="login.user.confirmPass !== login.user.password" ) {{ 'PASSWORD-ARENT-IDENTICAL' | translate }}
  custom-select.gender-select(items="login.countries", select-label="{{login.selectedCountry.name}}",
    selected-item="login.selectedCountry", animation-delay="" name-property="name")
  .country-number {{ 'CONTACT-NUMBER' | translate }}
  .country-number-wrap
    .country-code
      .label {{ 'COUNTRY-CODE' | translate }}
      custom-select.gender-select(items="login.countries", select-label="{{login.selectedCountry.dial_code}}",
        selected-item="login.selectedCountry", animation-delay="" name-property="dial_code")
    .number
      .label {{ 'NUMBER' | translate }}
      .input-wrap.number
        input.input-item(
          type="tel"
          name="number"
          required
          ng-model="login.user.number"
          ng-model-options="{ updateOn: 'blur'}"
          ng-minlength="7"
          ng-maxlength="11"
        )
        span.input-border.phone
        div(ng-if="loginForm.$submitted || loginForm.number.$touched"  class="error-wrap error-tel")
          span(ng-if="loginForm.number.$error.required") {{ 'NUMBER-IS-REQUIRED' | translate }}
          span(ng-if="loginForm.number.$error.minlength") {{ 'PLEASE-ENTER-MIN-SYMBOLS' | translate}}
          span(ng-if="loginForm.number.$error.maxlength") {{ 'PLEASE-ENTER-MAX-SYMBOLS' | translate }}
  .sign-in-checkbox
    label.square-checkbox
      input(type="checkbox" id="accept" name="privacy" ng-model="login.user.privacy" required)
      .check(ng-class="{'error': !login.user.privacy && loginForm.$submitted}")
    label.accept-label(for="accept") {{ 'I-ACCEPT' | translate }}&nbsp
      a.accept-label-link(ui-sref="app.terms-and-conditions") {{ 'TERM-CONDITIONS' | translate }} &
      a.accept-label-link(ui-sref="app.privacy-policy") {{ 'PRIVACY-PRIVATE' | translate }}

  //no-captcha( g-recaptcha-response="gRecaptchaResponse" theme='light'  control="noCaptchaControl" site-key="6LewTiMUAAAAAE2n6BhvyHMm6SBtQlw_ER2YnLhx" )
  .button
     button.btn-style.add-button.large-btn(type="button", class="btn-style ag-loader-btn", loader-button, load-action='login.login()') {{ 'LETS-GO' | translate }}

  .seperate-register
    .line
    span {{ 'OR-SIGN-UP-WITH' |translate }} {{login.user.socialPrivacy}}
    .line
  ul.social-login
    li.fb(ng-click="login.socialLogin('Facebook')")
      img(src="../assets/images/social/fb.png")
      span Facebook
    li.gp(ng-click="login.socialLogin('Google')")
      img(src="../assets/images/social/gp.png")
      span Google +
