
.sign-in-form {
  min-width: @form-width;
  padding: 15px 15px 25px;
  margin: 0 auto 35px;
  .border-radius(15px);
  background-color: #fff;
  color: @input-text-color;
  box-shadow: @sign-in-form-shadow;
  font-family: Roboto-Light;

  .input-item {
    height: @input-height;
    margin-bottom: 20px;
    border-bottom: @input-border;
    font-size: 14px;
    color: @input-text-color;
    font-family: Roboto-Light;
    font-weight: 600;

    &:focus {
      & ~ .input-border {
    	  width: 100%;
        margin-left: -50%;
      }
    }
  }

  .input-wrap {
    position: relative;
  }

  .input-border {
    position: absolute;
    left: 50%;
	  content: '';
	  height: 2px;
    background: @input-active-color;
    .transition(all 0.2s);
    width: 0;
    bottom: 0;
    &.phone {
      bottom: 20px;
    }
    &.email{
      bottom: 2px;
    }
  }

  .dropdown {
    padding-top: 8px;
    background: #fff @black-arrow-icon;
    transition: all .25s;
    &.open {
      background: #fff @black-arrow-open-icon;
    }

    .dropdown-btn {
      padding-right: 20px;
    }
  }

  .label {
    font-size: 10px;
    text-transform: uppercase;
    color: @input-text-color;

  }

  .country-number-wrap {
    display: flex;
    justify-content: space-between;
  }

  .country-number {
    margin-bottom: 1px;
    margin-top: 20px;
    font-weight: 600;
  }

  .country-code {
    flex-basis: @input-code-width;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;

    .input-item {
      height: @input-numbers-height;
      padding-top: 0;
      background-position: right 9px;
    }
  }

  .number {
    width: 100%;
    .input-item {
      height: @input-numbers-height;
      width: 100%;
    }
  }

  .sign-in-checkbox {
    margin-bottom: 15px;
    display: flex;
    position: relative;
  }

  .accept-label {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 12px;

  }

  .accept-label-link {
    color: @label-link-color;
    text-decoration: underline;
    margin-left: 2px;
  }

  .user-create-message {

  }
}

.rtl {
  .sign-in-form {
    font-family: 'Heebo', sans-serif;
    .input-item {
      font-family: 'Heebo', sans-serif;
    }
    .country-number-wrap {
      flex-direction: row-reverse;
      .country-code {
        margin: 0 20px 0 0px;
      }
    }
  }
}

.social-login {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
  font-family: Roboto-Light;
  li {
    cursor: pointer;
    img {
      height: 40px;
      width: 40px;
      margin-right: 12px;
    }
    &.fb {
      span {
        color: @fb-color;
      }
    }
    &.gp {
      span {
        color: @gp-color;
      }
    }
  }
  @media screen and (max-width: @medium-laptop) {
    li {
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  @media screen and (max-width: @tablet) {
    font-size: 16px;
  }
}


.seperate-register {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  align-items: center;
  font-weight: 700;
  .line {
    height: 1px;
    width: 40%;
    border-top: 2px solid @seperate-line;
    opacity: 0.15;
  }
  span {
    color: @seperate-line;
    width: 200px;
    opacity: 0.9;
  }
}
.rtl {
  .sign-in-form{
    .dropdown {
      background-position: left 20px;
    }
    .country-code {
        margin: 0 0 0 20px;
       .input-item {
          background-position: left 9px;
       }
    }
  }
  .social-login {
    li {
      img {
        margin: 0 0 0 12px;
      }
    }
  }
}

@media screen and (min-width: @tablet) {

  .sign-in-form {
    padding: 20px 30px;
    margin: 0;
    margin-left: 20px;

    .input-item,
    .country-number {
      font-size: 16px;
    }

    .label {
      font-size: 11px;
    }

    .accept-label {
      margin-top: 3px;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
@media screen and (max-width: @medium-laptop) {
  .sign-in-form {
    padding: 10px 25px 15px;
    .input-item {
      font-size: 15px;
      height: 25px;
      margin-bottom: 17px;
    }
    .country-number {
      margin-top: 9px;
    }
    .accept-label {
        margin-top: 7px;
        font-size: 13px;
      }
    .sign-in-checkbox {
      margin-bottom: 7px;
    }
  }
  .seperate-register {
    margin-top: 5px;
  }
  .social-login {
    margin-top: 0;
  }
}
@media screen and (max-width: @laptop) {
  .sign-in-form {
      min-width: auto;
      max-width: 415px;
  }
}

@media screen and (min-width: @laptop) {
  .sign-in-form {
    margin-left: 40px;
  }
  .rtl {
    .sign-in-form {
      margin: 0 40px 0 0;
    }
  }
}

@media screen and (max-width: @mobile-large) {
  .sign-in-form {
    .country-code {
      margin-right: 0;
    }
  }

  .rtl {
    .sign-in-form {
      .country-code {
        margin-left: 0;
      }
    }
  }
}
@media screen and (max-width: @tablet) {
  .login-wrap {
    width: 100%;
  }
  .sign-in-form {
    padding: 20px 20px 20px;
    margin: 0 auto 10px;
  }
}
