.page.internal.clean-cut(ng-class="{'rtl': isRTL}")
  .header-container
    header-component
  main
   a.arrow-back(ui-sref="app.web-app-templates")
   .title {{ 'CLEAN-CUT-PAGE-TITLE' | translate }}
   .block-img.phone.main-screen.center
     img(src="../assets/images/pages/clean-cut/phone.png")
   .block-img.app.center
     img(src="../assets/images/icons/os.png")
   .screens
     .block-img
       img(src="../assets/images/pages/clean-cut/splash2.png")
     .block-img
       img(src="../assets/images/pages/clean-cut/splash3.png")
     .block-img
       img(src="../assets/images/pages/clean-cut/splash4.png")
     .block-img
       img(src="../assets/images/pages/clean-cut/splash1.png")
    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate}}
  footer-component
