doctype html
html(lang='en')
   head
      title Create Your Own App for Only $9 - GeekApps
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
      meta(name='description', content='Create your mobile application for iPhone and get free website. It’s That Simple! Get personal connection with your customers using mobile apps for iPhone and Android. Increase your income by using mobile application')
      link(rel='stylesheet', type='text/css', href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css")
      link(rel="icon" type="image/png" href="assets/images/icons/favicon.png")
      script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx0rmE5ZdGx87q7hCPJlQwK6o0MFzt-jc&callback=initMap" type="text/javascript")

      //- //Google Tag Manager
      //- script.
      //-   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      //-   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      //-   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      //-   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      //-   })(window,document,'script','dataLayer','GTM-K6BN49S');

      each src in styles
         link(rel='stylesheet', type='text/css', href=src)
   body.page-5-bg(ng-app='app')
      //- noscript
      //- iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-K6BN49S" height="0" width="0" style="display:none;visibility:hidden")
      ui-view
      each src in scripts
         script(src=src)
