.page {
  &.internal {
    &.terms-and-conditions {
      position: relative;
      .terms {
        text-align: left;
        font-size: 18px;
        line-height: 25px;
        padding-top: 40px;
        color: @lang-text-color;
        .section-title {
          font-weight: 700;
          margin: 15px 0;
        }
      }
    }
  }
}
