.page.internal.terms-and-conditions.small-offset(ng-class="{'rtl': isRTL}")
  .header-container.circles-bg.blue
    header-component
  main
    .title {{ 'TERM-CONDITIONS' | translate }}
    .terms
      .section-title GeekApps - Customers Terms of Use
      div Last updated on: 05.06.2107
      div GeekApps is an online based platform, designed for enabling businesses to easily create personalized applications, without the need to be a tech expert or design master, through a website located at 
      a(href="https://www.geekapps.com")   www.geekapps.com
      span ("Website"). The personalized business applications are intended for improving business management, existing clients` retention and exposure to prospective clients (“App”). The App supports Android and/or iOS operating systems, and allows clients to perform various actions, including making appointments, using the news feed, uploading pictures, writing comments and reviews, shopping online and receiving notifications. The App will be downloaded from the App Store/Google Play ("App Stores").
      div Use of the Website and/or App, including the content presented in their framework, is subject to the terms of use (“Terms”) detailed herein. PLEASE READ THE FOLLOWING CAREFULLY, as entering the Website and/or the App and using them and/or any services offered in their framework constitute your consent and acknowledgement to these Terms. If You do not agree to be bound by these Terms do not use or otherwise access the Website and/or the App. The purpose of these Terms is to regulate the relationship between Arty GeekApps R&D. Ltd. (“GeekApps”, “We” "Our" or "Us"), which is the owner and operator of the Website and owner of the App, and the businesses making use of the Website and/or the App ("Customer" or "Customers"). The Customer may also be referred to in these Terms as the "User", "Users" "You" or "Your". The Customer`s end users using and/or otherwise accessing the App will be referred to in these Terms as an "End User" or "End Users". Our user agreement ("Agreement"), incorporates and includes these Terms and the privacy policy ("Privacy Policy"), which form an integral and inseparable part of the Agreement. The Privacy Policy is incorporated herein by reference. The Customer is advised to read the terms of use and privacy policies of the App Stores, as they include terms and conditions regulating use of the App.
      .section-title 1. Creating an App and using the Website
      div 1.1. After completing the registration process in the Website the Customer will receive an e-mail detailing how the Customer can access the Website, where the Customer will be required to create a personal password for its personal account ("Account"). The Customer expressly consents to and grants Us a right of use in its commercial name and logo, including for purpose of creating the App and uploading it to the App Stores.
      div 1.2. The Customer is solely responsible for all the actions done within the Account, including, without limitation, the actions of End Users. We will bear no responsibility and/or liability for any third party`s unauthorized use of the Account, including by means of using the password and/or registration details, and any unauthorized use will be legally binding upon the Customer.
      div 1.3. We are entitled, at any time and for any reason, in our sole and exclusive discretion to: (1) refuse to approve and/or cancel the registration of a Customer, temporarily or permanently; and (2) prevent Customers from using the App without having to provide prior notice thereof.
      span 1.4. The Website`s management system ("Management System"), contains a detailed guide to creating the App and defining its characteristics. Should the Customer require Our help for creation of the App, it is welcome to approach Us for support through the following email address: support@geekapps.com or by chat from
      span
        a(href="https://www.geekapps.com")   www.geekapps.com
      div 1.5. After the Customer completes creating the preliminary App`s definitions in the Management System, and save these, the App will be sent to Our support team for approval. This process usually takes several days, and after completed, the App, as defined by the Customer, will be launched. While the App is transferred to approval by Our support team, the Customer will be able to update the App`s definitions, such as the Customer personal details and photos, however, the Customer will not be able to change the App’s name, the App’s logo or the entry icon selected, which will appear in the App Stores.
      div 1.6. Once the App is approved by Our support team, the Customer will receive a confirmation e-mail and/or notice via the Management System’s news feed and/or by SMS sent to the phone number the Customer entered during the preliminary registration process.
      div 1.7. We are entitled not to approve launching the App, for any reason, and the Customer will receive an update via one of the communication means listed during the preliminary registration process. In such an event the costs actually paid by the Customer to Us (if any) will be refunded.
      div 1.8. By Using and/or otherwise accessing the Website and/or the App, You expressly agree that: (i) the End Users are Our clients for purpose of various services we may offer, including, without limitation, information and offers regarding You and/or other Customers; and (ii) any information collected and/or otherwise gathered from You and/or from the End Users, belongs and will belong to Us. We welcome any commercial engagement between You and the End Users, however, You acknowledge that We only serve as the facilitator of Your relationship with the End Users, and any services provided by You to the End Users, will be provided at Your sole responsibility and without derogating from Our limitation of liability detailed in this Agreement, including as specified in Section ‎4.6 below. You are being advised, prior to using the Website and/or the App, that any information You and/or the End Users provide or will provide and/or be gathered as detailed in this Agreement may be stored and held in databases in Israel or outside its borders. You are being specifically notified that providing such information is not required by law and is subject to your consideration, however, should You choose not to disclose such information please do not proceed to use the Website and/or the App. The uses to be made in the information or disclosure thereof are detailed in the Privacy Policy. If the End Users have agreed to: (a) provide You with their current location details, as part of the registration process to the App ("Location Details"); and (b) allow Us to collect location information from them, including Location Details and information received through their mobile device (jointly, "Location Info"), We will use the Location Info for various purposes, including as described in the Privacy Policy. Without derogating from any of Our rights detailed herein, You expressly agree that We may share and/or transfer all or part of the information collected and/or otherwise gathered and/or the Location Info to third parties, including other Customers and/or with our affiliates, all according to Our sole discretion.
      .section-title 2. Services Cost
      div 2.1. At the time of initial registration on the Website the Customer will be asked to select a monthly plan suitable for its purposes. Payment for monthly use will be exclusively affected by credit card, which will be entered into the Management System by the Customer during the registration process. In addition, in the professional and premium monthly pricing plans, there is a one-time fee for creating the App and registering it with the App Stores ("Set-Up Fee"). The Set-Up Fee is an immediate and non-refundable payment. In addition to the Set-Up Fee, the App Stores may require the Customer to pay an annual fee for maintaining a developer account, as determined by each App Store and to be paid by the Customer directly to the applicable App Store.
      div 2.2. We currently offer three pricing plans: (1) basic; (2) professional; and (3) premium. The services offered under every plan vary and are as detailed under the "Pricing" specification in the Website. Customers under the professional and premium pricing plans, will be entitled to use the App`s online store. Receiving payments in the App`s online store is possible by means of the Customer’s credit card, subject to the Customer entering its/his/her credit card details into the App. To enjoy the online store services, the Customer must engage with a clearing services provider ("Clearing Provider"), have an active account and provide Us with such account details, through which payments from End Users will be transferred directly from the Clearing Provider.
      div It is expressly clarified that, without derogating from Our limitation of liability contained in these Terms, GeekApps and/or anyone on its behalf, shall not be responsible and/or liable towards any Customer and/or End User making use of the online store services (or any part thereof), including, without limitation, with respect to payment and/or non-payment.
      div Liability for all credit card issues, including clearing, settlement and the agreements related thereto, are between the Customer and/or End User and the Clearing Provider. We will bear no responsibility and/or liability for any such issues, including use of a stolen credit card and/or charge-backs. In any such event, the Customer and/or End User are required to contact the Clearing Provider.
      div 2.3. We may add additional services to the various services offered to the Customer from time to time, and the Customer is entitled to decide whether it wishes to use such additional services or not. The additional services may entail additional payments from the Customer.
      div 2.4. The Customer is under no obligation to use the Website and/or the App, and is entitled to cancel use of the Website and/or the App at any time by written notice to Us through the following email address: contact@geekapps.com. Account cancellation will be effective at the end of the month in which the Customer notified Us on its wish to terminate the engagement. In any event, the Customer is advised that the Set-Up Fee collected from it, and any payment paid by the Customer for use of the Website and/or the App until that date are non-refundable. It is clarified that in the event the Customer chose the basic pricing plan, and decided, during the first twelve (12) months of use in the Website and/or the App, to terminate its engagement with Us, a charge of $9 USD per month (or a sum representing the applicable relative part of a month) until the end of such twelve (12) months period will apply, in lieu of charging the Customer with the Set-Up Fee.
      div 2.5. The Customer is advised that cancellation of use of the Website and/or the App, by either of the parties, will result in the App being removed from the App Stores, and the loss of all information and/or contents and/or contacts and/or any other contact that the Customer has established with End Users. The Customer waives any claims and/or demands from GeekApps regarding the Account cancellation, including loss of information and/or contents and/or lack of ability to contact End Users. Should the Customer seek to re-activate the Account, it will be required to pay the Set-Up Fee once again. In addition, any information and/or contents which existed in the old Account and/or in the Management System may no longer be available, and We do not undertake to be able to recover them in any way.
      .section-title 3. Links; Advertisements
      div 3.1. The Website and/or the App may include links to third-party websites or features. Links to third-party websites or features may be also included in commercials, images or comments within the Website and/or the App. The Website and/or the App also includes third party content, including the Customer`s contents and services that We do not control, maintain or endorse. We do not control any of these third party services or any of their content. We are in no way responsible or liable for any such third party services or features. Any communications and transactions with third parties on the Website and/or the App are solely between You and such third party, or between Your End Users and such third parties (as the case may be).
      div 3.2. We may display advertisements and promotions as part of the Website and/or the App, and You hereby agree that We may place such advertising and promotions on the Website and/or the App. The extent, manner, appearance and location of such advertising and promotions are subject to Our sole consideration.
      div 3.3. If the End Users have agreed to turn on the notifications function of the App in their device, You Agree: (a) that as part of the End Users` use in the App, they may receive commercial offers, such as promotions, campaigns and sales, from third parties, including, without limitation, from GeekApps and/or its affiliates and/or from other Customers ("Notifications & Offers"); and (b) to waive any claim and/or demand from GeekApps regarding Notifications & Offers, including with respect to breach of the End Users` privacy and/or non-compliance with the provisions of section 30(a) of the Communications Law (Telecommunications and Broadcasting), 5742-1982, without derogating from any other provision of the Agreement and/or from GeekApps` rights in law or in agreement.
      .section-title 4. Your Representation & Warranties
      div 4.1. You agree to comply with all laws, rules and regulations applicable to Your use or to the End Users use of the Website and/or the App, including but not limited to, intellectual property rights and privacy protection laws. We do not make any representation and/or warranty regarding Your aforementioned obligation to comply with applicable laws, such as privacy protection laws, including with respect to the need to register databases in accordance with such laws, and You will be solely responsible to verify and insure Your compliance. We will not be held liable for any act or omission of You, other Customers and/or End Users in respect of compliance with or infringement of applicable laws. In addition, You acknowledge that You and the End Users are at least of legal age allowing use of the Website and/or the App and performance of transactions.
      div 4.2. You represent that all information you provide Us will be true, accurate, current and complete, and you agree to update Your information from time to time as necessary.
      div 4.3. You may not do any of the following through the Website and/or the App: (1) post violent, nude, discriminatory, unlawful, infringing, rude, blunt, violent, racist, hateful, pornographic or sexually suggestive photos or other illegal content; (2) defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities; (3) post private or confidential information; (4) use the Website and/or the App for any illegal or unauthorized purpose. If You do any of the above actions, We reserve the right to immediately terminate Your use of the Website and/or the App.
      div 4.4. You agree to make fair and reasonable use of the Website and/or the App and the services. You also agree that You will not use any device, software, instrument, robot, spider, malicious code, virus, worm, Trojan horse, spyware, malware or other technologies, devices or manual processes to: (1) monitor, scrape or copy the Website and/or the App or the Content; or (2) interfere, interrupt, disrupt, alter, destroy, impair, restrict, tamper or otherwise affect the proper operation of the Website and/or the App.
      div 4.5. Any action contrary to the foregoing clauses will constitute a material breach of these Terms, and could result in cancellation of the Account, Your indefinite exclusion from the Website and/or the App (including by blocking the Customer’s IP Address), and grounds for contacting the relevant authorities.
      div 4.6. We do not guarantee the integrity or creditworthiness of any End User. Notwithstanding anything herein to the contrary, the Customer acknowledges that it will remain fully and solely liable to its relationship with End Users, including, without limitation, to any claims and/or demands and/or suits by End Users, and hereby irrevocably waives any claim and/or demand from GeekApps in this respect. For the avoidance of doubt, it is clarified, that GeekApps does not sell and/or supply the services and/or products presented by the Customer on the App.
      div 4.7. The prices the Customer chooses to charge for its services in the App will be: (1) determined independently by the Customer; (2) binding on it for the purposes of every order it receives via the App; and (3) under the sole responsibility of the Customer.
      div 4.8. Reviews and comments published by End Users on the Customer’s profile page affect the App’s appearance, and could encourage other End Users to place orders. We therefore recommend that the Customer be vigilant, and share various posts, on social media, to encourage other End Users to download the App and use it. GeekApps may permit the Customer to independently remove unwanted criticism, however, the Customer will remain fully and solely liable to End Users` claims and/or demands regarding the removal.
      .section-title 5. Intellectual Property
      div 5.1. You acknowledge that with respect to all your communications with Us, including but not limited to feedback, questions, comments, suggestions and the like: (i) You shall have no right of confidentiality in such communications; (ii) We shall be free to reproduce, use, disclose and distribute Your communications to others without limitation; and (iii) We shall be free to use any ideas, concepts, know-how, content or techniques contained in Your communications for any purpose whatsoever. The above is limited only by Our obligations pertaining to Your personal information, as further specified under our Privacy Policy.
      div 5.2. The Website and/or the App contains information and content solely and exclusively owned by, or licensed by third parties to GeekApps ("Content"). We own and retain all rights and title in and to the Content, the Website and/or the App. The Content is protected by copyright, trademark, patent, trade secret and other laws. You undertake that neither You nor Your End Users will not remove, alter or conceal any copyright, trademark, service mark or other proprietary rights incorporated in or accompanying the Content and You will not reproduce, modify, reverse engineer, adapt, prepare derivative works, perform, display, publish, distribute, transmit, broadcast, sell, license or otherwise exploit the Content. No license or right in the Content and/or in the Website and/or the App, or in any part thereof, is implied, granted or conferred upon You or upon Your End Users. The Content will include, without limitation, the GeekApps name and logo, all page headers, custom graphics, button icons and other custom features, trademarks and/or trade dress of GeekApps, and all such may not be copied, imitated or used, in whole or in part, without Our prior written consent
      div 5.3. You undertake that neither You nor Your End Users shall perform, either directly or indirectly, any action or omission which may in any way affect the validity or enforceability of, or otherwise infringe or misappropriate, any of Our rights, titles and interests in and to the Website and/or the App, and/or the Content.
      .section-title 6. Disclaimer
      div 6.1. We and anyone on Our behalf, including, employees, shareholders, directors, managers, officers or consultants (collectively, the "GA Parties"), hereby disclaim all warranties, express or implied, including, but not limited to, merchantability, fitness for a particular purpose, non-infringement or title regarding the Website and/or the App. The Website and/or the App, including, without limitation, the Content, is provided on an "As-Is" and "As Available" basis. In addition, and to the fullest extent permissible by law, the GA Parties neither, make any representations or warranties, express or implied, as to the: (a) Website and/or the App; (b) Content; (c) safety and/or security of information transmitted to Us or uploaded to the Website and/or to the App; (d) Website and/or the App being error-free, uninterrupted or free from any harmful components; or (e) accuracy, completeness or usefulness of the information (including any instructions) on the Website and/or the App.
      div 6.2. You acknowledge that Your use of the service is at your sole risk. The GA Parties do not warrant that use of the Website and/or to the App is lawful in any particular jurisdiction, and specifically disclaim such warranties with respect to You and to Your End Users, to the extent possible under applicable law.
      .section-title 7. Limitation of liability
      div 7.1. The GA Parties will not be liable to You or to Your End Users for any loss or damages of any kind (including, without limitation, for any direct, indirect, exemplary, special, punitive, incidental or consequential losses or damages), whether in contract, negligence, strict liability or tort, including, without limitation, directly or indirectly loss or damages related to: (a) the Website and/or the App; (b) Content; (c) any action taken in connection with an investigation by Us or by law enforcement authorities regarding Your or any other party, including, without limitation the End Users` use of the Website and/or the App; (d) any action taken in connection with intellectual property rights; (f) any errors or omissions in the Website`s and/or the App`s operation; or (g) any damage to any computer, mobile device or other equipment, including, without limitation, security breach, virus, bugs, tampering, fraud, error, omission, interruption, defect, delay in operation or transmission, computer or network failure or any other technical or other malfunction, lost profits, goodwill, data, work stoppage, even if foreseeable or even if the GA Parties have been advised of or should have known of the possibility of such damages.
      div 7.2. In no event will the GA Parties be liable to You or to anyone else, including, without limitation to the End Users, for loss, damage or injury, including, without limitation, death or personal injury, unless such cannot be excluded or limited under applicable law. In no event will GA Parties` total liability to you for all damages, losses or claim exceed one hundred U.S dollars ($100.00).
      .section-title 8. Indemnification
      div 8.1. You and anyone acting in your name and on your behalf, agree to defend, indemnify and hold the GA Parties harmless from and against any claims, liabilities, damages, losses and/or expenses, including without limitation, reasonable attorney's fees and costs, arising out of or in any way connected with any of the following: (i) access to or use, including, without limitation, by the End Users, of the Website and/or the App; (ii) breach or alleged breach of these Terms; (iii) violation of any third party right, including without limitation, any intellectual property right, publicity, confidentiality, property or privacy right; (iv) violation of any laws, rules, regulations, codes, statutes, ordinances or orders of any governmental, administrative and legislative authorities; or (v) any misrepresentation made by You, including, without limitation with respect to the End Users. You will cooperate as fully required by the GA Parties in the defense against any such claim. The GA Parties reserve the right to assume the exclusive defense and control of any matter subject to indemnification by You, and You will not in any event settle any claim without the prior written consent of the GA Parties.
      .section-title 9. Miscellaneous
      div 9.1. GeekApps does not undertake that use of the Website and/or the App will be regular and continuous at all times, and does not undertake that the service given on the App will be without interruptions, provided regularly or without disruptions and/or be immune to damage, spoilage, malfunctions, software failures, etc, however, GeekApps will make every effort to resolve any malfunction in the quickest possible manner.
      div 9.2. GeekApps is entitled to shut down the Website and/or the App and to change it from time to time, including the availability of the services and erasure of the contents provided on it, and all without having to provide prior notice thereof. You, or any third party, including Without limitation, the End Users, will have no claim, demand or legal action against Us in this regard, and We will bear no responsibility and/or liability for any damages caused to You and/or to any third party, including Without limitation, the End Users, from changes, suspension and/or cancellation of the services or contents appearing on the Website and/or the App.
      div 9.3. We are entitled to change and update the Terms from time to time, in our exclusive discretion, without having to provide notice thereof. Responsibility to become familiar with said changes affected to these Terms rests solely on You.
      div 9.4. Use of the App, and these Terms and Conditions of Use, are subject to Israeli Law. The sole jurisdiction for any matter relating to use of the Website and/or the App and/or the Agreement, is vested in the competent courts in Tel-Aviv.
    .start-section
      .title {{ 'SECTION-START' | translate }}
      a.large-btn(ui-sref="app.landing") {{ 'LETS-GO' | translate }}
  footer-component
