.square-checkbox {
  width: 20px;
  height: 20px;
  flex-basis: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  .ng-invalid.ng-touched + .check {
    border: 2px solid @error-color;
  }
  .check {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: @checkbox-border;
    .border-radius(2px);

    &:before {
      content: '';
      width: 8px;
      height: 4px;
      position: absolute;
      top: 3px;
      left: 3px;
      border: 3px solid #fff;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
      .transition(opacity 0.4s);
      box-sizing: content-box;
    }
  }

  input[type="checkbox"] {
    display:none;
  }

  input:checked + .check {
    border-color: @checkbox-checked-color;
    background-color: @checkbox-checked-color;
  }

  input:checked + .check:before {
    opacity: 1;
  }
}
.button {
  text-align: center;
}
.large-btn {
  width: 100%;
  height: 52px;
  .border-radius(100px);
  background-color: @submit-btn-color;
  box-shadow: @submit-btn-shadow;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  transition: all .5s;
  text-align: center;
  text-decoration: none;
  line-height: 52px;
  font-weight: 600;
  &:hover {
    background: @active-lang-color;
    text-decoration: none;
    color: #fff;
  }
  @media screen and (max-width: @medium-laptop) {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
  }

  &.price-btn {
    width: 100%;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    font-size: 17px;
    text-decoration: none;
  }

  &.no-bg {
    background: none;
    border: 1px solid @submit-btn-color;
    color: @submit-btn-color;
    box-shadow: none;
    padding: 10px 35px;
    font-size: 16px;
    &:hover {
      background: @submit-btn-color;
      text-decoration: none;
      color: #fff;
    }
  }
}
.rtl {
  .large-btn {
    direction: ltr;
  }
  .error-wrap {
    font-family: 'Heebo', sans-serif;
  }
}
.sign-in-checkbox {
  .error-wrap {
    bottom: -15px;
  }
}
.error-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  font-weight: 700;
  font-family: Roboto-Light;
  span {
  color: @error-color;
  font-size: 12px;
    @media screen and (max-width: @tablet) {
      font-size: 10px;
    }
  }
  &.error-tel{
    bottom: 0;
  }
  &.country {
    bottom: -22px;
  }
  &.code {
    bottom: -10px;
  }

}

.dropdown-wrap {
  position: relative;
  height: 40px;
  cursor: pointer;
  .dropdown {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
    padding-top: 12px;
    top: 0;
    height: 43px;
    font-size: 16px;
    .list-item {
      padding: 3px 0px;
      display: block;
      cursor: pointer;
      background: #fff;
      transition: all .5s;
      font-size: 13px;
      &:hover {
        background: #f1f1f1;
      }
    }
  }
}

.arrow-back {
  background: @arrow-back-icon;
  width: 66px;
  height: 66px;
  position: absolute;
  left: 10px;
  top: 300px;
  .border-radius(50%);
  background-size: contain;
  cursor: pointer;
  transition: all .5s;
  &:hover {
    left: 5px;
    background: @arrow-back-hover-icon;
    background-size: contain;
  }
  @media screen and (max-width: @tablet) {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 170px;
  }
}

.ng-invalid {
  &.ng-touched + .input-border {
    background: @error-color ;
  }
}
.ng-valid {
  &.exist + .input-border {
    background: @error-color ;
  }
}

.view-btn {
  .border-radius(30px);
  border: 2px solid #fff;
  color: #fff;
  padding: 7px 12px;
  position: absolute;
  width: 80px;
  margin-left: -40px;
  text-align: center;
  left: 50%;
  bottom: -100%;
  transition: all .5s;
  font-size: 18px;
  font-weight: 600;
}
.block-img {
  position: relative;
  &:hover {
    .view-btn {
      bottom: 60%;
    }
  }
}
