@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}


@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/GilroyLight.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Heebo';
  src: url(../fonts/Heebo-Light.ttf);
  font-weight: 300;
}
