* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;

  .placeholder({
    color: @input-text-color;
  });

  &:focus {
    outline: none;
  }
}

input[type="submit"],
button {
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  display: block;
}
