/*Sizes*/
@page-width: 1010px;
@header-height-desk: 100px;
@header-height-mb: 75px;
@logo-size-mb: 45px;
@logo-size-desk: 165px;
@btn-login-width: 110px;
@input-height: 35px;
@swiper-block-width: 505px;
@swiper-block-width-max: 555px;
@swiper-block-height-tablet: 580px;
@swiper-block-height-desk: 525px;
@overlay-bg-height-mb: 375px;
@overlay-bg-height-tablet: 260px;
@overlay-bg-height-desk: 280px;
@grid-margin: 10px;
@form-width: 415px;
@input-code-width: 100px;
@input-numbers-height: 30px;
@page-header-height: 325px;

/*Colors*/
@page-1-bg-color: #4bba27;
@orange-header: #fc701b;
@green-header: #4cba28;
@cyan-header: #1fcddd;
@page-3-bg-color: #d4106b;
@page-4-bg-color: #f73054;
@page-5-bg-color: #45b6ee;
@input-text-color: #535353;
@submit-btn-color: #1fcddd;
@checkbox-checked-color:  #1fcddd;
@input-active-color: #1fcddd;
@label-link-color: #1a88d2;
@footer-bg: #45b6ee;
@active-lang-color: #45b6ee;
@lang-text-color: #262626;
@fb-color: #305588;
@gp-color: #d34741;
@error-color: #fc343d;
@seperate-line: #979797;
@start-section-text-color: #666666;
@footer-text-color: #535353;
@header-bg: #45b6ee;
@project-title-color: #333;
@pricing-plans-header: #f73054;
@pricing-plans-list: #3e3e3e;
@pricing-plans-item-hover: #fbfbfb;
@pricing-plans-subtitle-color: #9f9f9;
@giki-color: #00a8fa;
@vip-color: #66dbea;
@gold-color: #ffc64c;
@premium-color: #00c95b;
@giki-color-hover: #0887c5;
@vip-color-hover: #18b5ca;
@gold-color-hover: #eaa819;
@premium-color-hover: #24a55e;
@support-bg-comment: #1ec7d6;
@user-bg-comment: #ececec;
@comment-text-placeholder-color: #666666;
@pink-bordered-title: #d4106b;
@blue-bordered-title: #2ba8ff;
@orange-bordered-title: #f85917;
@green-cornered-title: #1cc53c;
@blue-cornered-title: #76dbe4;
@yellow-cornered-title: #febf29;
@yellow-plus: #febf29;
@blue-plus: #5bc2f4;
@green-plus: #08cb4d;
@features-item-border-color: #eeeeee;
@features-item-description-text: #666666;

/*Borders*/
@btn-login-border: solid 2px #ffffff;
@input-border: solid 2px rgba(218, 218, 218, 0.35);
@checkbox-border: solid 2px #dfdfdf;
@footer-nav-border: solid 2px rgba(255, 255, 255, 0.25);

/*Shadows*/
@sign-in-form-shadow: 0 2px 15px 0 rgba(255, 255, 255, 0.59);
@submit-btn-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.17);

/*Urls*/
@images: '../../assets/images';
@icons: '../../assets/images/icons';

/*Images & Icons*/
@logo-small-icon: url('@{icons}/logo-small.png') no-repeat center;
@logo-big-icon: url('@{icons}/logo-big.png') no-repeat center;
@white-arrow-icon: url('@{icons}/white-arrow.png') no-repeat right center;
@white-arrow-rotate-icon: url('@{icons}/white-arrow-rotate.png') no-repeat right center;
@black-arrow-icon: url('@{icons}/black-arrow.png') no-repeat right 10px;
@black-arrow-open-icon: url('@{icons}/black-arrow-open.png') no-repeat right 10px;
@overlay-img: url('@{images}/overlay.png') no-repeat center bottom 0;
@overlay-home-footer: url('@{images}/overlay-home-footer.png') no-repeat center bottom 0;
@overlay-mb-img: url('@{images}/overlay-mb.png') no-repeat center bottom 0;
@overlay-mb-img-center: url('@{images}/overlay-mb.png') no-repeat center center;
@ok-icon: url('@{images}/icons/ok.png') no-repeat center center;
@arrow-back-icon: url('@{images}/icons/arrow-back.png') no-repeat center center;
@arrow-back-hover-icon: url('@{images}/icons/arrow-hover.png') no-repeat center center;
@cleancut-header-bg: url('@{images}/pages/clean-cut/header.png') no-repeat center center;
@garde-header-bg: url('@{images}/pages/garde/header.png') no-repeat center center;
@food-header-bg: url('@{images}/pages/food/header.png') no-repeat center center;
@modern-header-bg: url('@{images}/pages/modern/header.png') no-repeat center center;
@circles-bg: url('@{images}/header/header.png') no-repeat center right;
@send-icon: url('@{images}/pages/support/send.png') no-repeat center right;
@app-link-icon: url('@{images}/pages/discover/mob-icons.png') no-repeat center center;
/*Breakpoints*/
@mobile-large: 480px;
@tablet-big: 840px;
@tablet: 768px;
@laptop: 1024px;
@medium-laptop: 1560px;
@large-laptop: 1570px;
